--- 
http_interactions: 
- request: 
    method: get
    uri: http://api.flickr.com/services/rest?format=json&nojsoncallback=1&api_key=API_KEY&method=flickr.test.login
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="API_KEY", oauth_nonce="b0248863c17fbfdaa25991d3baa1d037", oauth_signature="A9YPI3ixHSXaM5lbSsQgtK%2FWPxI%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1347315367", oauth_token="ACCESS_TOKEN", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json
    body: 
      encoding: ASCII-8BIT
      string: "{\"user\":{\"id\":\"78733179@N04\", \"username\":{\"_content\":\"@janko-m\"}}, \"stat\":\"ok\"}"
  recorded_at: Mon, 10 Sep 2012 22:16:08 GMT
recorded_with: VCR 2.2.4
