---
http_interactions:
- request:
    method: get
    uri: http://api.flickr.com/services/rest?format=json&nojsoncallback=1&api_key&method=flickr.test.null
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_nonce="2f7b72858b09bc1163feee664593be99", oauth_signature="X%2BFaqx5n9g03AmbpV1HIbzXlswo%3D",
        oauth_signature_method="HMAC-SHA1", oauth_timestamp="1380993552", oauth_token="<ACCESS_TOKEN_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - text/plain; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"stat":"fail", "code":100, "message":"Invalid API Key (Key has invalid
        format)"}'
  recorded_at: Sat, 05 Oct 2013 17:19:12 GMT
recorded_with: VCR 2.5.0
