--- 
http_interactions: 
- request: 
    method: get
    uri: http://api.flickr.com/services/rest?format=json&nojsoncallback=1&api_key&method=flickr.test.login
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_nonce="efd37e6ae45d952b5abffdcf87cf62da", oauth_signature="RUq%2B9pqXUus%2BKjmBdtADx6yMVJc%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1356214884", oauth_token="<ACCESS_TOKEN_KEY>", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - text/plain; charset=utf-8
    body: 
      encoding: ASCII-8BIT
      string: "{\"stat\":\"fail\", \"code\":100, \"message\":\"Invalid API Key (Key has invalid format)\"}"
  recorded_at: Sat, 22 Dec 2012 22:21:24 GMT
recorded_with: VCR 2.3.0
