---
http_interactions:
- request:
    method: get
    uri: https://api.flickr.com/services/rest?format=json&nojsoncallback=1&api_key=<API_KEY>&method=flickr.test.echo
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<API_KEY>", oauth_nonce="f919c9be1305efd1fca326efb07b944f",
        oauth_signature="pNxXl085HcZ185Ss%2FDUzaoHYZIE%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1403947956", oauth_token="<ACCESS_TOKEN_KEY>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"format":{"_content":"json"}, "nojsoncallback":{"_content":"1"}, "api_key":{"_content":"<API_KEY>"},
        "method":{"_content":"flickr.test.echo"}, "oauth_consumer_key":{"_content":"<API_KEY>"},
        "oauth_nonce":{"_content":"f919c9be1305efd1fca326efb07b944f"}, "oauth_signature":{"_content":"pNxXl085HcZ185Ss\/DUzaoHYZIE="},
        "oauth_signature_method":{"_content":"HMAC-SHA1"}, "oauth_timestamp":{"_content":"1403947956"},
        "oauth_token":{"_content":"<ACCESS_TOKEN_KEY>"}, "oauth_version":{"_content":"1.0"},
        "api_auth_is_oauth":{"_content":"1"}, "api_sig":{"_content":"pNxXl085HcZ185Ss\/DUzaoHYZIE="},
        "auth_token":{"_content":"<ACCESS_TOKEN_KEY>"}, "stat":"ok"}'
  recorded_at: Sat, 28 Jun 2014 09:32:37 GMT
recorded_with: VCR 2.5.0
