--- 
http_interactions: 
- request: 
    method: get
    uri: https://secure.flickr.com/services/rest?format=json&nojsoncallback=1&api_key=<API_KEY>&method=flickr.test.login
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="<API_KEY>", oauth_nonce="ba66af707875ff09b58511fe541ece8e", oauth_signature="sTc2Eb%2B7GzqMaOzL8haJaAO5dfI%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1356214840", oauth_token="<ACCESS_TOKEN_KEY>", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json
    body: 
      encoding: ASCII-8BIT
      string: "{\"user\":{\"id\":\"78733179@N04\", \"username\":{\"_content\":\"@janko-m\"}}, \"stat\":\"ok\"}"
  recorded_at: Sat, 22 Dec 2012 22:20:42 GMT
recorded_with: VCR 2.3.0
