--- 
http_interactions: 
- request: 
    method: get
    uri: http://api.flickr.com/services/rest?format=json&nojsoncallback=1&api_key=API_KEY&method=flickr.test.login&vcr=configuration+2
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="API_KEY", oauth_nonce="2074ca851295b9659716292dabbf3405", oauth_signature="c6g8yZQLGmWiKX2oeewaBS6k8Uk%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1347962168", oauth_token="ACCESS_TOKEN", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json
    body: 
      encoding: ASCII-8BIT
      string: "{\"user\":{\"id\":\"78733179@N04\", \"username\":{\"_content\":\"@janko-m\"}}, \"stat\":\"ok\"}"
  recorded_at: Tue, 18 Sep 2012 09:56:08 GMT
recorded_with: VCR 2.2.4
