--- 
http_interactions: 
- request: 
    method: post
    uri: http://api.flickr.com/services/rest?format=json&nojsoncallback=1&api_key=<API_KEY>&method=flickr.photos.transform.rotate&photo_id=7986395865&degrees=180
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="<API_KEY>", oauth_nonce="1f70d2ea16fd1c717324efb3bd3c0d29", oauth_signature="UNFOzltC7TwNoDb67X%2BbIvCkZ2o%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1356396744", oauth_token="<ACCESS_TOKEN_KEY>", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"photoid\":{\"_content\":\"7986395865\", \"secret\":\"7245625596\", \"originalsecret\":\"f941fbb699\"}, \"stat\":\"ok\"}"
  recorded_at: Tue, 25 Dec 2012 00:52:29 GMT
recorded_with: VCR 2.3.0
