---
http_interactions:
- request:
    method: get
    uri: http://api.flickr.com/services/rest?format=json&nojsoncallback=1&api_key=<API_KEY>&method=flickr.photos.getSizes&photo_id=10115956703
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<API_KEY>", oauth_nonce="3cd8bbdc01224b5f1d4f8211f6d26a0f",
        oauth_signature="%2FnVBh85YXNNlXv%2B100byXsNSTig%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1381061466", oauth_token="<ACCESS_TOKEN_KEY>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"sizes":{"canblog":1, "canprint":1, "candownload":1, "size":[{"label":"Square",
        "width":75, "height":75, "source":"http:\/\/farm3.staticflickr.com\/2822\/10115956703_b14e1be9d0_s.jpg",
        "url":"http:\/\/www.flickr.com\/photos\/78733179@N04\/10115956703\/sizes\/sq\/",
        "media":"photo"}, {"label":"Large Square", "width":"150", "height":"150",
        "source":"http:\/\/farm3.staticflickr.com\/2822\/10115956703_b14e1be9d0_q.jpg",
        "url":"http:\/\/www.flickr.com\/photos\/78733179@N04\/10115956703\/sizes\/q\/",
        "media":"photo"}, {"label":"Thumbnail", "width":"100", "height":"63", "source":"http:\/\/farm3.staticflickr.com\/2822\/10115956703_b14e1be9d0_t.jpg",
        "url":"http:\/\/www.flickr.com\/photos\/78733179@N04\/10115956703\/sizes\/t\/",
        "med[...]
