--- 
http_interactions: 
- request: 
    method: get
    uri: http://api.flickr.com/services/rest?format=json&nojsoncallback=1&api_key=<API_KEY>&method=flickr.people.findByUsername&username=%40janko-m
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="<API_KEY>", oauth_nonce="7e5196353549d30312e282bbaf768c04", oauth_signature="aDymCN81zi2i3s3o4CsmGLf9WeQ%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1356358812", oauth_token="<ACCESS_TOKEN_KEY>", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json
    body: 
      encoding: ASCII-8BIT
      string: "{\"user\":{\"id\":\"78733179@N04\", \"nsid\":\"78733179@N04\", \"username\":{\"_content\":\"@janko-m\"}}, \"stat\":\"ok\"}"
  recorded_at: Mon, 24 Dec 2012 14:20:12 GMT
recorded_with: VCR 2.3.0
