--- 
http_interactions: 
- request: 
    method: get
    uri: http://api.flickr.com/services/rest?format=json&nojsoncallback=1&api_key=API_KEY&method=flickr.people.findByEmail&find_email=flickriegem%40yahoo.com
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="API_KEY", oauth_nonce="fbdc848a774b22681d03fc8b76437fd5", oauth_signature="2%2FM7Ye7LTpNxdwgJLB8AIdVv3Ik%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1351335007", oauth_token="ACCESS_TOKEN", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json
    body: 
      encoding: ASCII-8BIT
      string: "{\"user\":{\"id\":\"78733179@N04\", \"nsid\":\"78733179@N04\", \"username\":{\"_content\":\"@janko-m\"}}, \"stat\":\"ok\"}"
  recorded_at: Sat, 27 Oct 2012 10:50:08 GMT
recorded_with: VCR 2.2.4
