--- 
http_interactions: 
- request: 
    method: get
    uri: http://api.flickr.com/services/rest?format=json&nojsoncallback=1&api_key=<API_KEY>&method=flickr.photos.getSizes&photo_id=7986395865
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="<API_KEY>", oauth_nonce="1b9787a91becc1dc526d8e583457ae7c", oauth_signature="3IhiAKBGOhjVyj8APjctd5I%2FU7M%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1356358829", oauth_token="<ACCESS_TOKEN_KEY>", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json
    body: 
      encoding: ASCII-8BIT
      string: "{\"sizes\":{\"canblog\":1, \"canprint\":1, \"candownload\":1, \"size\":[{\"label\":\"Square\", \"width\":75, \"height\":75, \"source\":\"http:\\/\\/farm9.staticflickr.com\\/8306\\/7986395865_5f670c825b_s.jpg\", \"url\":\"http:\\/\\/www.flickr.com\\/photos\\/78733179@N04\\/7986395865\\/sizes\\/sq\\/\", \"media\":\"photo\"}, {\"label\":\"Large Square\", \"width\":\"150\", \"height\":\"150\", \"source\":\"http:\\/\\/farm9.staticflickr.com\\/8306\\/7986395865_5f670c825b_q.jpg\", \"url\":\"http:\\/\\/www.flickr.com\\/photos\\/78733179@N04\\/7986395865\\/sizes\\/q\\/\", \"media\":\"photo\"}, {\"label\":\"Thumbnail\", \"width\":\"67\", \"height\":\"100\", \"source\":\"http:\\/\\/farm9.staticflickr.com\\/8306\\/7986395865_5f670c825b_t.jpg\", \"url\":\"http:\\/\\/www.flickr.com\\/photos\\/78733179@N04\\/7986395[...]
