--- 
http_interactions: 
- request: 
    method: get
    uri: http://api.flickr.com/services/rest?format=json&nojsoncallback=1&api_key=<API_KEY>&method=flickr.photos.search&user_id=78733179%40N04
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="<API_KEY>", oauth_nonce="6db3ef85598e880111568669a4cc7893", oauth_signature="eY0xM5vRpG5Nevf736kI1dFhjts%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1356357997", oauth_token="<ACCESS_TOKEN_KEY>", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json
    body: 
      encoding: ASCII-8BIT
      string: "{\"photos\":{\"page\":1, \"pages\":1, \"perpage\":100, \"total\":\"2\", \"photo\":[{\"id\":\"8130464513\", \"owner\":\"78733179@N04\", \"secret\":\"780e01decd\", \"server\":\"8191\", \"farm\":9, \"title\":\"Hana\", \"ispublic\":1, \"isfriend\":0, \"isfamily\":0}, {\"id\":\"7986395865\", \"owner\":\"78733179@N04\", \"secret\":\"5f670c825b\", \"server\":\"8306\", \"farm\":9, \"title\":\"Game of Thrones\", \"ispublic\":1, \"isfriend\":0, \"isfamily\":0}]}, \"stat\":\"ok\"}"
  recorded_at: Mon, 24 Dec 2012 14:06:38 GMT
recorded_with: VCR 2.3.0
