--- 
http_interactions: 
- request: 
    method: get
    uri: http://api.flickr.com/services/rest?format=json&nojsoncallback=1&api_key=<API_KEY>&method=flickr.people.findByUsername&username=%40janko-m
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="<API_KEY>", oauth_nonce="a6ed15327178f92453178c6a087e5f7a", oauth_signature="%2BA5AB%2FhdJnXtrT917pEp8hpfVbE%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1356220403", oauth_token="<ACCESS_TOKEN_KEY>", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json
    body: 
      encoding: ASCII-8BIT
      string: "{\"user\":{\"id\":\"78733179@N04\", \"nsid\":\"78733179@N04\", \"username\":{\"_content\":\"@janko-m\"}}, \"stat\":\"ok\"}"
  recorded_at: Sat, 22 Dec 2012 23:53:24 GMT
recorded_with: VCR 2.3.0
