---
http_interactions:
- request:
    method: get
    uri: http://api.flickr.com/services/rest?format=json&nojsoncallback=1&api_key=<API_KEY>&method=flickr.photos.getRecent&extras=
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<API_KEY>", oauth_nonce="c76f9d1761bfff25776aa5fad6a14209",
        oauth_signature="Nm0LcaIDU4bvhxkq3bl2Vfbzapc%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1380985894", oauth_token="<ACCESS_TOKEN_KEY>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"photos":{"page":1, "pages":10, "perpage":100, "total":1000, "photo":[{"id":"10100914094",
        "owner":"56997999@N07", "secret":"bf168feddf", "server":"7426", "farm":8,
        "title":"Abc", "ispublic":1, "isfriend":0, "isfamily":0}, {"id":"10100915324",
        "owner":"62330329@N05", "secret":"ec7c1f8de3", "server":"3689", "farm":4,
        "title":"image", "ispublic":1, "isfriend":0, "isfamily":0}, {"id":"10100915824",
        "owner":"91332172@N08", "secret":"e2c8c05009", "server":"7291", "farm":8,
        "title":"DSC_0040", "ispublic":1, "isfriend":0, "isfamily":0}, {"id":"10100915844",
        "owner":"87803279@N07", "secret":"1a17970197", "server":"2809", "farm":3,
        "title":"image", "ispublic":1, "isfriend[...]
- request:
    method: get
    uri: http://api.flickr.com/services/rest?format=json&nojsoncallback=1&api_key=<API_KEY>&method=flickr.photos.getRecent&extras=description%2Clicense%2Cdate_upload%2Cdate_taken%2Cowner_name%2Cicon_server%2Coriginal_format%2Clast_update%2Cgeo%2Ctags%2Cmachine_tags%2Co_dims%2Cviews%2Cmedia%2Cpath_alias%2Curl_sq%2Curl_q%2Curl_t%2Curl_s%2Curl_n%2Curl_m%2Curl_z%2Curl_c%2Curl_l%2Curl_h%2Curl_k%2Curl_o
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<API_KEY>", oauth_nonce="f6f271d077c9c8e08cd16cd69b41c12f",
        oauth_signature="P9fO7bsKIRWce39m0Hjams1Q%2Bc4%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1380989268", oauth_token="<ACCESS_TOKEN_KEY>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"photos":{"page":1, "pages":10, "perpage":100, "total":1000, "photo":[{"id":"10101747234",
        "owner":"103492244@N04", "secret":"47a50de040", "server":"7458", "farm":8,
        "title":"", "ispublic":1, "isfriend":0, "isfamily":0, "description":{"_content":""},
        "license":"0", "dateupload":"1380989214", "datetaken":"2013-10-05 20:30:27",
        "datetakengranularity":"0", "ownername":"Thibaut Blancheteau", "iconserver":"2866",
        "iconfarm":3, "originalsecret":"9161f25e73", "originalformat":"jpg", "lastupdate":"1380989262",
        "latitude":34.980152, "longitude":135.748, "accuracy":"16", "context":0, "place_id":"9cw_d0JQV7obLp8N5A",
        "woeid":"15015372", "geo_is_family":0, "geo_is_friend":0, "geo_is_contact":0,
        "geo_is_public":1, "tags":"flickrandroidapp:filter=none", "machine_tags":"flickrandroidapp:filter=none",
        "views":"0", "media":"photo", "media_status":"ready", "pathalias":null, "url_sq":"http:\/\/farm8.staticflickr.com\/7458\/10101747234_47a50de040_s.jpg",
        "height_sq":75, "width_sq":75, "url_q":"http:\/\/farm8.staticflickr.com\/7458\/10101747234_47a50de040_q.jpg",
        "height_q":"150", "width_q":"150", "url_t":"http:\/\/farm8.staticflickr.com\/7458\/10101747234_47a50de040_t.jpg",
        "height_t":"100", "width_t":"56", "url_s":"http:\/\/farm8.staticflickr.com\/7458\/10101747234_47a50de040_m.jpg",
        "height_s":"240", "width_s":"135", "url_n":"http:\/\/farm8.staticflickr.com\/7458\/10101747234_47a50de040_n.jpg",
        "height_n":"320", "width_n":180, "url_m":"http:\/\/farm8.staticflickr.com\/7458\/10101747234_47a50de040.jpg",
        "height_m":"500", "width_m":"281", "url_z":"http:\/\/farm8.staticflickr.com\/7458\/10101747234_47a50de040_z.jpg",
        "height_z":"640", "width_z":"360", "url_c":"http:\/\/farm8.staticflickr.com\/7458\/10101747234_47a50de040_c.jpg",
        "height_c":"800", "width_c":450, "url_l":"http:\/\/farm8.staticflickr.com\/7458\/10101747234_47a50de040_b.jpg",
        "height_l":"1024", "width_l":"576", "url_h":"http:\/\/farm8.staticflickr.com\/7458\/10101747234_864e5dc847_h.jpg",
        "height_h":"1600", "width_h":899, "url_k":"http:\/\/farm8.staticflickr.com\/7458\/10101747234_4320a5b6d4_k.jpg",
        "height_k":"2048", "width_k":1151, "url_o":"http:\/\/farm8.staticflickr.com\/7458\/10101747234_9161f25e73_o.jpg",
        "height_o":"2752", "width_o":"4896"}, {"id":"10101755584", "owner":"55883582@N08",
        "secret":"aa7feb0d1e", "server":"5524", "farm":6, "title":"Hard Reset", "ispublic":1,
        "isfriend":0, "isfamily":0, "description":{"_content":"3240x4320 \/ SweetFX
        \/ NoHud \/ NoWeapon"}, "license":"0", "dateupload":"1380989245", "datetaken":"2013-10-05
        18:01:21", "datetakengranularity":"0", "ownername":"K-putt", "iconserver":"7287",
        "iconfarm":8, "originalsecret":"c319ff08cc", "originalformat":"jpg", "la[...]
