---
http_interactions:
- request:
    method: get
    uri: https://api.flickr.com/services/rest?format=json&nojsoncallback=1&api_key=<API_KEY>&method=flickr.photos.upload.checkTickets&tickets=78701040-72157636215045495
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<API_KEY>", oauth_nonce="6eca10ab09afd606c51eb5e2162f4ab2",
        oauth_signature="BB4ZFouOITOYYmWaSAsdpEz%2BY5c%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1380985277", oauth_token="<ACCESS_TOKEN_KEY>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"uploader":{"ticket":[{"id":"78701040-72157636215045495", "complete":1,
        "photoid":"10100785685", "imported":null}]}, "stat":"ok"}'
  recorded_at: Sat, 05 Oct 2013 15:01:17 GMT
recorded_with: VCR 2.5.0
