---
http_interactions:
- request:
    method: get
    uri: https://api.flickr.com/services/rest?format=json&nojsoncallback=1&api_key=<API_KEY>&method=flickr.photos.getContactsPublicPhotos&extras=description%2Clicense%2Cdate_upload%2Cdate_taken%2Cowner_name%2Cicon_server%2Coriginal_format%2Clast_update%2Cgeo%2Ctags%2Cmachine_tags%2Co_dims%2Cviews%2Cmedia%2Cpath_alias%2Curl_sq%2Curl_q%2Curl_t%2Curl_s%2Curl_n%2Curl_m%2Curl_z%2Curl_c%2Curl_l%2Curl_h%2Curl_k%2Curl_o&include_self=1&user_id=78733179%40N04
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<API_KEY>", oauth_nonce="644aeb6da20affd36f175c4549f9c499",
        oauth_signature="OOO3YCWv3p76iaoIKBmQAF9KqFg%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1381067846", oauth_token="<ACCESS_TOKEN_KEY>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"photos":{"photo":[{"id":"10115956703", "secret":"b14e1be9d0", "server":"2822",
        "farm":3, "owner":"78733179@N04", "username":"@janko-m", "title":"Jon Snow",
        "ispublic":1, "isfriend":0, "isfamily":0, "description":{"_content":"It''s
        a photo"}, "license":"0", "dateupload":"1381061206", "datetaken":"2013-10-06
        14:06:41", "datetakengranularity":"0", "ownername":"@janko-m", "iconserver":"8033",
        "iconfarm":9, "originalsecret":"e40de5bf26", "originalformat":"jpg", "lastupdate":"1381067365",
        "latitude":45.807258, "longitude":15.967599, "accuracy":"11", "context":0,
        "place_id":"00j4IylZV7scWik", "woeid":"851128", "geo_is_family":0, "geo_is_friend":0,
        "geo_is_contact":0, "geo_is_public":1, "tags":"foo vision:night=077", "machine_tags":"",
        "views":"0", "media":"photo", "media_status":"ready", "pathalias":null, "url_sq":"http:\/\/farm3.staticflickr.com\/2822\/10115956703_b14e1be9d0_s.jpg",
        "height_sq":75, "width_sq":75, "url_q":"http:\/\/farm3.staticflickr.com\/2822\/10115956703_b14e1be9d0_q.jpg",
        "height_q":"150", "width_q":"150", "url_t":"http:\/\/farm3.staticflickr.com\/2822\/10115956703_b14e1be9d0_t.jpg",
        "height_t":"63", "width_t":"100", "url_s":"http:\/\/farm3.staticflickr.com\/2822\/10115956703_b14e1be9d0_m.jpg",
        "height_s":"150", "width_s":"240", "url_n":"http:\/\/farm3.staticflickr.com\/2822\/10115956703_b14e1be9d0_n.jpg",
        "height_n":200, "width_n":"320", "url_m":"http:\/\/farm3.staticflickr.com\/2822\/10115956703_b14e1be9d0.jpg",
        "height_m":"313", "width_m":"500", "url_z":"http:\/\/farm3.staticflickr.com\/2822\/10115956703_b14e1be9d0_z.jpg",
        "height_z":"400", "width_z":"640", "url_c":"http:\/\/farm3.staticflickr.com\/2822\/10115956703_b14e1be9d0_c.jpg",
        "height_c":500, "width_c":"800", "url_l":"http:\/\/farm3.staticflickr.com\/2822\/10115956703_b14e1be9d0_b.jpg",
        "height_l":"640", "width_l":"1024", "url_h":"http:\/\/farm3.staticflickr.com\/2822\/10115956703_253e5b1ab0_h.jpg",
        "height_h":1000, "width_h":"1600", "url_k":"http:\/\/farm3.staticflickr.com\/2822\/10115956703_67c9dd116f_k.jpg",
        "height_k":1280, "width_k":"2048", "url_o":"http:\/\/farm3.staticflickr.com\/2822\/10115956703_e40de5bf26_o.jpg",
        "height_o":"1600", "width_o":"2560"}, {"id":"8130464513", "secret":"780e01decd",
        "server":"8191", "farm":9, "owner":"78733179@N04", "username":"@janko-m",
        "title":"Photo", "ispublic":1, "isfriend":0, "isfamily":0, "description":{"_content":""},
        "license":"0", "dateupload":"2013", "datetaken":"2012-10-28 11:32:03", "datetakengranularity":"0",
        "ownername":"@janko-m", "iconserver":"8033", "iconfarm":9, "originalsecret":"941c686b6a",
        "originalformat":"jpg", "lastupdate":"1380990008", "lat[...]
- request:
    method: get
    uri: https://api.flickr.com/services/rest?format=json&nojsoncallback=1&api_key=<API_KEY>&method=flickr.photos.getContactsPublicPhotos&include_self=1&user_id=78733179%40N04&extras=
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<API_KEY>", oauth_nonce="e091391558c7770e82e925ad44bb725d",
        oauth_signature="2yEDRfjJQ4pJV2%2FWztevEJ0La2I%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1383698149", oauth_token="<ACCESS_TOKEN_KEY>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"photos":{"photo":[{"id":"10115956703", "secret":"b14e1be9d0", "server":"2822",
        "farm":3, "owner":"78733179@N04", "username":"@janko-m", "title":"Jon Snow",
        "ispublic":1, "isfriend":0, "isfamily":0}, {"id":"8130464513", "secret":"780e01decd",
        "server":"8191", "farm":9, "owner":"78733179@N04", "username":"@janko-m",
        "title":"Photo", "ispublic":1, "isfriend":0, "isfamily":0}], "total":2, "page":1,
        "per_page":10, "pages":1}, "stat":"ok"}'
  recorded_at: Wed, 06 Nov 2013 00:35:50 GMT
- request:
    method: get
    uri: https://api.flickr.com/services/rest?format=json&nojsoncallback=1&api_key=<API_KEY>&method=flickr.photos.getContactsPublicPhotos&user_id=78733179%40N04&extras=
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<API_KEY>", oauth_nonce="a978770e78060b0dfda1e24501a11782",
        oauth_signature="XtFEy3fIg5xXCPUAakXxDKYRm6M%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1383698152", oauth_token="<ACCESS_TOKEN_KEY>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"photos":{"photo":[], "total":0, "page":1, "per_page":10, "pages":1},
        "stat":"ok"}'
  recorded_at: Wed, 06 Nov 2013 00:35:53 GMT
recorded_with: VCR 2.5.0
