--- 
http_interactions: 
- request: 
    method: get
    uri: http://api.flickr.com/services/rest?format=json&nojsoncallback=1&api_key=API_KEY&method=flickr.photos.getContactsPublicPhotos&include_self=1&extras=description%2Clicense%2Cdate_upload%2Cdate_taken%2Cowner_name%2Cicon_server%2Coriginal_format%2Clast_update%2Cgeo%2Ctags%2Cmachine_tags%2Co_dims%2Cviews%2Cmedia%2Cpath_alias%2Curl_sq%2Curl_q%2Curl_t%2Curl_s%2Curl_n%2Curl_m%2Curl_z%2Curl_c%2Curl_l%2Curl_h%2Curl_k%2Curl_o%2Cmedia&user_id=78733179%40N04
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="API_KEY", oauth_nonce="119e84d16f0521accb5e08376e053898", oauth_signature="IMV%2F%2FPMiLp3PeC3JUmzt1QK3nzg%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1347922115", oauth_token="ACCESS_TOKEN", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json
    body: 
      encoding: ASCII-8BIT
      string: "{\"photos\":{\"photo\":[{\"id\":\"7989540600\", \"secret\":\"0515684d4c\", \"server\":\"8456\", \"farm\":9, \"owner\":\"78733179@N04\", \"username\":\"@janko-m\", \"title\":\"David Belle - Rush Hour (BBC commercial)\", \"ispublic\":1, \"isfriend\":0, \"isfamily\":0, \"description\":{\"_content\":\"\"}, \"license\":\"0\", \"dateupload\":\"1347741844\", \"datetaken\":\"2012-09-15 13:44:04\", \"datetakengranularity\":\"0\", \"ownername\":\"@janko-m\", \"iconserver\":\"8033\", \"iconfarm\":9, \"lastupdate\":\"1347741948\", \"latitude\":0, \"longitude\":0, \"accuracy\":0, \"context\":0, \"tags\":\"\", \"machine_tags\":\"\", \"views\":\"1\", \"media\":\"video\", \"media_status\":\"ready\", \"pathalias\":null, \"url_sq\":\"http:\\/\\/farm9.staticflickr.com\\/8456\\/7989540600_0515684d4c_s.jpg\", \"height_sq\":75, \"width_sq\":75, \"url_q\":\"http:\\/\\/farm9.staticflickr.com\\/8456\\/7989540600_0515684d4c_q.jpg\", \"height_q\":\"150\", \"width_q\":\"150\", \"url_t\":\"http:\\/\\/farm9.staticflickr.com\\/8456\\/7989540600_0515684d4c_t.jpg\", \"height_t\":\"75\", \"width_t\":\"100\", \"url_s\":\"http:\\/\\/farm9.staticflickr.com\\/8456\\/7989540600_0515684d4c_m.jpg\", \"height_s\":\"180\", \"width_s\":\"240\", \"url_n\":\"http:\\/\\/farm9.staticflickr.com\\/8456\\/7989540600_0515684d4c_n.jpg\", \"height_n\":240, \"width_n\":\"320\", \"url_m\":\"http:\\/\\/farm9.staticflickr.com\\/8456\\/7989540600_0515684d4c.jpg\", \"height_m\":\"240\", \"width_m\":\"320\"}, {\"id\":\"7986395865\", \"secret\":\"5f670c825b\", \"server\":\"8306\", \"farm\":9, \"owner\":\"78733179@N04\", \"username\":\"@janko-m\", \"title\":\"Game of Thrones\", \"ispublic\":1, \"isfriend\":0, \"isfamily\":0, \"description\":{\"_content\":\"A poster for the &quot;Game of Thrones&quot; TV series\"}, \"license\":\"0\", \"dateupload\":\"1347653033\", \"datetaken\":\"2012-09-14 13:02:57\", \"datetakengranularity\":\"0\", \"ownername\":\"@janko-m\", \"iconserver\":\"8033\", \"iconfarm\":9, \"lastupdate\":\"1347744394\", \"latitude\":37.792422, \"longitude\":-122.419109, \"accuracy\":\"14\", \"context\":0, \"place_id\":\"W24McYBUV7MWarg33w\", \"woeid\":\"55970967\", \"geo_is_family\":0, \"geo_is_friend\":0, \"geo_is_contact\":0, \"geo_is_public\":1, \"tags\":\"test\", \"machine_tags\":\"\", \"views\":\"5\", \"media\":\"photo\", \"media_status\":\"ready\", \"pathalias\":null, \"url_sq\":\"http:\\/\\/farm9.staticflickr.com\\/8306\\/7986395865_5f670c825b_s.jpg\", \"height_sq\":75, \"width_sq\":75, \"url_q\":\"http:\\/\\/farm9.staticflickr.com\\/8306\\/7986395865_5f670c825b_q.jpg\", \"height_q\":\"150\", \"width_q\":\"150\", \"url_t\":\"http:\\/\\/farm9.staticflickr.com\\/8306\\/7986395865_5f670c825b_t.jpg\", \"height_t\":\"100\", \"width_t\":\"67\", \"url_s\":\"http:\\/\\/farm9.staticflickr.com\\/8306\\/7986395865_5f670c825b_m.jpg\", \"height_s\":\"240\", \"width_s\":\"162\", \"url_n\":\"http:\\/\\/farm9.staticflickr.com\\/8306\\/7986395865_5f670c825b_n.jpg\", \"height_n\":\"320\", \"width_n\":216, \"url_m\":\"http:\\/\\/farm9.staticflickr.com\\/8306\\/7986395865_5f670c825b.jpg\", \"height_m\":\"500\", \"width_m\":\"337\", \"url_z\":\"http:\\/\\/farm9.staticflickr.com\\/8306\\/7986395865_5f670c825b_z.jpg\", \"height_z\":\"640\", \"width_z\":\"432\", \"url_c\":\"http:\\/\\/farm9.staticflickr.com\\/8306\\/7986395865_5f670c825b_c.jpg\", \"height_c\":\"800\", \"width_c\":540, \"url_l\":\"http:\\/\\/farm9.staticflickr.com\\/8306\\/7986395865_5f670c825b_b.jpg\", \"height_l\":\"1024\", \"width_l\":\"691\", \"url_h\":\"http:\\/\\/farm9.staticflickr.com\\/8306\\/7986395865_e325aa9882_h.jpg\", \"height_h\":\"1600\", \"width_h\":1080, \"url_k\":\"http:\\/\\/farm9.staticflickr.com\\/8306\\/7986395865_081e5978f7_k.jpg\", \"height_k\":\"2048\", \"width_k\":1382}], \"total\":2, \"page\":1, \"per_page\":10, \"pages\":1}, \"stat\":\"ok\"}"
  recorded_at: Mon, 17 Sep 2012 22:48:35 GMT
recorded_with: VCR 2.2.4
