---
http_interactions:
- request:
    method: get
    uri: https://api.flickr.com/services/rest?format=json&nojsoncallback=1&api_key=<API_KEY>&method=flickr.photos.licenses.getInfo
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<API_KEY>", oauth_nonce="ac28d2ec5f3bba6cd0e021ef4927f713",
        oauth_signature="VsS8PwA4LSy9SsZoUzUGTwLyg2Y%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1420974908", oauth_token="<ACCESS_TOKEN_KEY>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"licenses":{"license":[{"id":"0","name":"All Rights Reserved","url":""},{"id":"4","name":"Attribution
        License","url":"https:\/\/creativecommons.org\/licenses\/by\/2.0\/"},{"id":"6","name":"Attribution-NoDerivs
        License","url":"https:\/\/creativecommons.org\/licenses\/by-nd\/2.0\/"},{"id":"3","name":"Attribution-NonCommercial-NoDerivs
        License","url":"https:\/\/creativecommons.org\/licenses\/by-nc-nd\/2.0\/"},{"id":"2","name":"Attribution-NonCommercial
        License","url":"https:\/\/creativecommons.org\/licenses\/by-nc\/2.0\/"},{"id":"1","name":"Attribution-NonCommercial-ShareAlike
        License","url":"https:\/\/creativecommons.org\/licenses\/by-nc-sa\/2.0\/"},{"id":"5","name":"Attribution-ShareAlike
        License","url":"https:\/\/creativecommons.org\/licenses\/by-sa\/2.0\/"},{"id":"7","name":"No
        known copyright restrictions","url":"https:\/\/www.flickr.com\/commons\/usage\/"},{"id":"8","name":"United
        States Government Work","url":"http:\/\/www.usa.gov\/copyright.shtml"}]},"stat":"ok"}'
  recorded_at: Sun, 11 Jan 2015 11:15:09 GMT
recorded_with: VCR 2.5.0
