--- 
http_interactions: 
- request: 
    method: get
    uri: http://api.flickr.com/services/rest?format=json&nojsoncallback=1&api_key=API_KEY&method=flickr.photosets.getList&user_id=78733179%40N04
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="API_KEY", oauth_nonce="478876b9049d0c719e367f8b6535e91d", oauth_signature="pfpCRHLR5%2Fpi2E60%2FhAGyCdtJyo%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1351382084", oauth_token="ACCESS_TOKEN", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json
    body: 
      encoding: ASCII-8BIT
      string: "{\"photosets\":{\"cancreate\":1, \"page\":1, \"pages\":1, \"perpage\":1, \"total\":1, \"photoset\":[{\"id\":\"72157631860874542\", \"primary\":\"8126288530\", \"secret\":\"6e6eaa53c8\", \"server\":\"8470\", \"farm\":9, \"photos\":\"1\", \"videos\":0, \"title\":{\"_content\":\"Title\"}, \"description\":{\"_content\":\"Description\"}, \"needs_interstitial\":0, \"visibility_can_see_set\":1, \"count_views\":\"0\", \"count_comments\":\"0\", \"can_comment\":1, \"date_create\":\"1351297929\", \"date_update\":\"1351332024\"}]}, \"stat\":\"ok\"}"
  recorded_at: Sat, 27 Oct 2012 23:54:44 GMT
recorded_with: VCR 2.2.4
