--- 
http_interactions: 
- request: 
    method: get
    uri: http://api.flickr.com/services/rest?format=json&nojsoncallback=1&api_key=API_KEY&method=flickr.test.login
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="API_KEY", oauth_nonce="30c8d45605807186e380a9a769ba12be", oauth_signature="zZ%2B51GcoSXWNuZ47FrgR8gcmsFI%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1351295178", oauth_token="ACCESS_TOKEN", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json
    body: 
      encoding: ASCII-8BIT
      string: "{\"user\":{\"id\":\"78733179@N04\", \"username\":{\"_content\":\"@janko-m\"}}, \"stat\":\"ok\"}"
  recorded_at: Fri, 26 Oct 2012 23:46:18 GMT
- request: 
    method: get
    uri: http://api.flickr.com/services/rest?format=json&nojsoncallback=1&api_key=API_KEY&method=flickr.test.login&vcr=without+access+token
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="API_KEY", oauth_nonce="ee54d76032be0371643a0638feca81ca", oauth_signature="p1TX3S0XPU3xTZZDUAa7HQzhdMI%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1351295179", oauth_version="1.0"
  response: 
    status: 
      code: 400
      message: 
    headers: 
      content-type: 
      - text/plain;charset=UTF-8
    body: 
      encoding: ASCII-8BIT
      string: oauth_problem=parameter_absent&oauth_parameters_absent=oauth_token
  recorded_at: Fri, 26 Oct 2012 23:46:19 GMT
- request: 
    method: get
    uri: http://api.flickr.com/services/rest?format=json&nojsoncallback=1&api_key&method=flickr.test.login&vcr=without+api+key
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_nonce="499c288118e5199b373c9274863878a0", oauth_signature="%2B5DxpPYu%2BnW%2Bmo93XDP9M2uB3xM%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1351295190", oauth_token="ACCESS_TOKEN", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - text/plain; charset=utf-8
    body: 
      encoding: ASCII-8BIT
      string: "{\"stat\":\"fail\", \"code\":100, \"message\":\"Invalid API Key (Key has invalid format)\"}"
  recorded_at: Fri, 26 Oct 2012 23:46:31 GMT
recorded_with: VCR 2.2.4
