---
http_interactions:
- request:
    method: get
    uri: http://api.flickr.com/services/rest?format=json&nojsoncallback=1&api_key=<API_KEY>&method=flickr.interestingness.getList&extras=description%2Clicense%2Cdate_upload%2Cdate_taken%2Cowner_name%2Cicon_server%2Coriginal_format%2Clast_update%2Cgeo%2Ctags%2Cmachine_tags%2Co_dims%2Cviews%2Cmedia%2Cpath_alias%2Curl_sq%2Curl_q%2Curl_t%2Curl_s%2Curl_n%2Curl_m%2Curl_z%2Curl_c%2Curl_l%2Curl_h%2Curl_k%2Curl_o
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<API_KEY>", oauth_nonce="308823c9fd9b703a08799b42526fb4d7",
        oauth_signature="jQPAltn5bfXwjxHp3hK9X%2Bt4NlQ%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1383692217", oauth_token="<ACCESS_TOKEN_KEY>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"photos":{"page":1, "pages":5, "perpage":100, "total":500, "photo":[{"id":"10671336894",
        "owner":"53066919@N07", "secret":"4db0144991", "server":"2872", "farm":3,
        "title":"Autumn Bracken Ashridge Nov 2013", "ispublic":1, "isfriend":0, "isfamily":0,
        "description":{"_content":""}, "license":"0", "dateupload":"1383576716", "datetaken":"2013-11-02
        15:58:24", "datetakengranularity":"0", "ownername":"Lakes4life", "iconserver":"8546",
        "iconfarm":9, "originalsecret":"68dca790d2", "originalformat":"jpg", "lastupdate":"1383691286",
        "latitude":0, "longitude":0, "accuracy":0, "context":0, "tags":"from autumn
        andy 1 lol no explore bracken ashridge royston congrats vision:mountain=0598
        vision:sky=0783 vision:outdoor=0853 vision:plant=0657", "machine_tags":"",
        "o_width":"2120", "o_height":"1413", "views":"15564", "media":"photo", "media_status":"ready",
        "pathalias":null, "url_sq":"http:\/\/farm3.staticflickr.com\/2872\/10671336894_4db0144991_s.jpg",
        "height_sq":75, "width_sq":75, "url_q":"http:\/\/farm3.staticflickr.com\/2872\/10671336894_4db0144991_q.jpg",
        "height_q":"150", "width_q":"150", "url_t":"http:\/\/farm3.staticflickr.com\/2872\/10671336894_4db0144991_t.jpg",
        "height_t":"67", "width_t":"100", "url_s":"http:\/\/farm3.staticflickr.com\/2872\/10671336894_4db0144991_m.jpg",
        "height_s":"160", "width_s":"240", "url_n":"http:\/\/farm3.staticflickr.com\/2872\/10671336894_4db0144991_n.jpg",
        "height_n":213, "width_n":"320", "url_m":"http:\/\/farm3.staticflickr.com\/2872\/10671336894_4db0144991.jpg",
        "height_m":"333", "width_m":"500", "url_z":"http:\/\/farm3.staticflickr.com\/2872\/10671336894_4db0144991_z.jpg",
        "height_z":"427", "width_z":"640", "url_c":"http:\/\/farm3.staticflickr.com\/2872\/10671336894_4db0144991_c.jpg",
        "height_c":534, "width_c":"800", "url_l":"http:\/\/farm3.staticflickr.com\/2872\/10671336894_4db0144991_b.jpg",
        "height_l":"683", "width_l":"1024", "url_h":"http:\/\/farm3.staticflickr.com\/2872\/10671336894_ccd48a914b_h.jpg",
        "height_h":1066, "width_h":"1600", "url_k":"http:\/\/farm3.staticflickr.com\/2872\/10671336894_1423404582_k.jpg",
        "height_k":1365, "width_k":"2048", "url_o":"http:\/\/farm3.staticflickr.com\/2872\/10671336894_68dca790d2_o.jpg",
        "height_o":"1413", "width_o":"2120"}, {"id":"10675607036", "owner":"44029690@N02",
        "secret":"6edac22ffa", "server":"2826", "farm":3, "title":"***", "ispublic":1,
        "isfriend":0, "isfamily":0, "description":{"_content":""}, "license":"0",
        "dateupload":"1383591886", "datetaken":"2013-09-28 17:14:27", "datetakengranularity":"0",
        "ownername":"@spor", "iconserver":"2847", "iconfarm":3, "lastupdate":"1383691546",
        "latitude":0, "longitude":0, "accuracy":0, "context":0, "tags":"vision:sunset=06[...]
- request:
    method: get
    uri: http://api.flickr.com/services/rest?format=json&nojsoncallback=1&api_key=<API_KEY>&method=flickr.interestingness.getList&extras=
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<API_KEY>", oauth_nonce="0ac347c4121b231b99a3568a21b5972e",
        oauth_signature="iha9DBBK0oxqwMw7qM8C5INdExY%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1383693793", oauth_token="<ACCESS_TO[...]
