---
http_interactions:
- request:
    method: get
    uri: http://api.flickr.com/services/rest?format=json&nojsoncallback=1&api_key=<API_KEY>&method=flickr.photos.getInfo&photo_id=8130464513
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<API_KEY>", oauth_nonce="a8aca17ad60c153022e63864184629f6",
        oauth_signature="KaH0jFsc1HDuBELeX2ZgvtgAwLE%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1380986273", oauth_token="<ACCESS_TOKEN_KEY>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"photo":{"id":"8130464513", "secret":"780e01decd", "server":"8191",
        "farm":9, "dateuploaded":"2013", "isfavorite":0, "license":"0", "safety_level":"0",
        "rotation":0, "originalsecret":"941c686b6a", "originalformat":"jpg", "owner":{"nsid":"78733179@N04",
        "username":"@janko-m", "realname":"Janko Marohni\u0107", "location":"Zagreb,
        Croatia", "iconserver":"8033", "iconfarm":9, "path_alias":null}, "title":{"_content":"Hana"},
        "description":{"_content":""}, "visibility":{"ispublic":1, "isfriend":0, "isfamily":0},
        "dates":{"posted":"2013", "taken":"2012-10-28 11:32:03", "takengranularity":"0",
        "lastupdate":"1379515261"}, "permissions":{"permcomment":1, "permaddmeta":1},
        "views":"3", "editability":{"cancomment":1, "canaddmeta":1}, "publiceditability":{"cancomment":0,
        "canaddmeta":0}, "usage":{"candownload":1, "canblog":1, "canprint":1, "canshare":1},
        "comments":{"_content":"0"}, "notes":{"note":[{"id":"72157635563920075", "author":"78733179@N04",
        "authorname":"@janko-m", "x":"14", "y":"14", "w":"29", "h":"29", "_content":"foo"}]},
        "people":{"haspeople":1}, "tags":{"tag":[{"id":"78701040-8130464513-14924",
        "author":"78733179@N04", "raw":"foo", "_content":"foo", "machine_tag":0}]},
        "location":{"latitude":44.375, "longitude":14.78194, "accuracy":"11", "context":"0",
        "locality":{"_content":"Ulbo", "place_id":"1cJME1VZVrOra9Y", "woeid":"849427"},
        "county":{"_content":"Zadar", "place_id":"f6wF6.9QV7owlIOgMA", "woeid":"15022408"},
        "region":{"_content":"Zadarsko-Kninska", "place_id":"GDTbpYpQUL.Sbna27Q",
        "woeid":"12577989"}, "country":{"_content":"Croatia", "place_id":"FunRCI5TUb6a6soTyw",
        "woeid":"23424843"}, "place_id":"1cJME1VZVrOra9Y", "woeid":"849427"}, "geoperms":{"ispublic":1,
        "iscontact":0, "isfriend":0, "isfamily":0}, "urls":{"url":[{"type":"photopage",
        "_content":"http:\/\/www.flickr.com\/photos\/78733179@N04\/8130464513\/"}]},
        "media":"photo"}, "stat":"ok"}'
  recorded_at: Sat, 05 Oct 2013 15:17:54 GMT
recorded_with: VCR 2.5.0
