---
http_interactions:
- request:
    method: get
    uri: https://api.flickr.com/services/rest?format=json&nojsoncallback=1&api_key=<API_KEY>&method=flickr.test.echo
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<API_KEY>", oauth_nonce="abc5539cb65cb2b12b718b57172cf451",
        oauth_signature="GOCPdyKS5cCs1O6IWLB4PZTM4TI%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1380985278", oauth_token="<ACCESS_TOKEN_KEY>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"format":{"_content":"json"}, "nojsoncallback":{"_content":"1"}, "api_key":{"_content":"<API_KEY>"},
        "method":{"_content":"flickr.test.echo"}, "oauth_consumer_key":{"_content":"<API_KEY>"},
        "oauth_nonce":{"_content":"abc5539cb65cb2b12b718b57172cf451"}, "oauth_signature":{"_content":"GOCPdyKS5cCs1O6IWLB4PZTM4TI="},
        "oauth_signature_method":{"_content":"HMAC-SHA1"}, "oauth_timestamp":{"_content":"1380985278"},
        "oauth_token":{"_content":"<ACCESS_TOKEN_KEY>"}, "oauth_version":{"_content":"1.0"},
        "api_auth_is_oauth":{"_content":"1"}, "api_sig":{"_content":"GOCPdyKS5cCs1O6IWLB4PZTM4TI="},
        "auth_token":{"_content":"<ACCESS_TOKEN_KEY>"}, "stat":"ok"}'
  recorded_at: Sat, 05 Oct 2013 15:01:18 GMT
recorded_with: VCR 2.5.0
