---
http_interactions:
- request:
    method: get
    uri: https://api.flickr.com/services/rest?format=json&nojsoncallback=1&api_key=<API_KEY>&method=flickr.photosets.getList&user_id=78733179%40N04
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<API_KEY>", oauth_nonce="02ac27a58f39fbc331638352164279e6",
        oauth_signature="euTb0FoCy2BP4Gz%2Fweaj8HSZTzA%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1380985802", oauth_token="<ACCESS_TOKEN_KEY>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"photosets":{"cancreate":1, "page":1, "pages":1, "perpage":1, "total":1,
        "photoset":[{"id":"72157636215603524", "primary":"10100895983", "secret":"617545ac10",
        "server":"7392", "farm":8, "photos":"1", "videos":0, "title":{"_content":"Set"},
        "description":{"_content":"It''s a set"}, "needs_interstitial":0, "visibility_can_see_set":1,
        "count_views":"0", "count_comments":"0", "can_comment":1, "date_create":"1380985779",
        "date_update":"0"}]}, "stat":"ok"}'
  recorded_at: Sat, 05 Oct 2013 15:10:02 GMT
recorded_with: VCR 2.5.0
