---
http_interactions:
- request:
    method: get
    uri: http://api.flickr.com/services/rest?format=json&nojsoncallback=1&api_key=<API_KEY>&method=flickr.test.login
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<API_KEY>", oauth_nonce="e9e0c6a638f2192c560a1a6c33c7f58d",
        oauth_signature="BT5IeW9aJGoBP%2F%2FKQ7Qom8VUZrc%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1380985277", oauth_token="<ACCESS_TOKEN_KEY>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"user":{"id":"78733179@N04", "username":{"_content":"@janko-m"}},
        "stat":"ok"}'
  recorded_at: Sat, 05 Oct 2013 15:01:18 GMT
recorded_with: VCR 2.5.0
