---
http_interactions:
- request:
    method: get
    uri: http://api.flickr.com/services/rest?format=json&nojsoncallback=1&api_key=<API_KEY>&method=flickr.photos.getFavorites&photo_id=7316710626
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<API_KEY>", oauth_nonce="d0546560d272ad49db0b818a753fc875",
        oauth_signature="XK7cB14u2JK48WHBjFtZ6huPpF4%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1380986286", oauth_token="<ACCESS_TOKEN_KEY>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"photo":{"person":[{"nsid":"78733179@N04", "username":"@janko-m",
        "favedate":"1380986243", "iconserver":"8033", "iconfarm":9}], "id":"7316710626",
        "secret":"cf80b743d9", "server":"7094", "farm":8, "page":1, "pages":1, "perpage":10,
        "total":"1"}, "stat":"ok"}'
  recorded_at: Sat, 05 Oct 2013 15:18:07 GMT
recorded_with: VCR 2.5.0
