--- 
http_interactions: 
- request: 
    method: get
    uri: http://api.flickr.com/services/rest?format=json&nojsoncallback=1&api_key=<API_KEY>&method=flickr.photos.search&user_id=78733179%40N04&extras=description%2Clicense%2Cdate_upload%2Cdate_taken%2Cowner_name%2Cicon_server%2Coriginal_format%2Clast_update%2Cgeo%2Ctags%2Cmachine_tags%2Co_dims%2Cviews%2Cmedia%2Cpath_alias%2Curl_sq%2Curl_q%2Curl_t%2Curl_s%2Curl_n%2Curl_m%2Curl_z%2Curl_c%2Curl_l%2Curl_h%2Curl_k%2Curl_o%2Cmedia&media=photos
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="<API_KEY>", oauth_nonce="f22318645f3be5d911aad7b41199985b", oauth_signature="Vv%2BOaQ3ATpQ7acNhbpSfr2qyV0U%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1356227886", oauth_token="<ACCESS_TOKEN_KEY>", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json
    body: 
      encoding: ASCII-8BIT
      string: "{\"photos\":{\"page\":1, \"pages\":1, \"perpage\":100, \"total\":\"4\", \"photo\":[{\"id\":\"8133340670\", \"owner\":\"78733179@N04\", \"secret\":\"38c60aaca7\", \"server\":\"8195\", \"farm\":9, \"title\":\"Screen Shot 2012-10-29 at 2.26.20 AM\", \"ispublic\":1, \"isfriend\":0, \"isfamily\":0, \"description\":{\"_content\":\"\"}, \"license\":\"0\", \"dateupload\":\"1351474062\", \"datetaken\":\"2012-10-29 02:27:34\", \"datetakengranularity\":\"0\", \"ownername\":\"@janko-m\", \"iconserver\":\"8033\", \"iconfarm\":9, \"lastupdate\":\"1352241219\", \"latitude\":0, \"longitude\":0, \"accuracy\":0, \"context\":0, \"tags\":\"\", \"machine_tags\":\"\", \"views\":\"0\", \"media\":\"photo\", \"media_status\":\"ready\", \"pathalias\":null, \"url_sq\":\"http:\\/\\/farm9.staticflickr.com\\/8195\\/8133340670_38c60aaca7_s.jpg\", \"height_sq\":75, \"width_sq\":75, \"url_q\":\"http:\\/\\/farm9.staticflickr.com\\/8195\\/8133340670_38c60aaca7_q.jpg\", \"height_q\":\"150\", \"width_q\":\"150\", \"url_t\":\"http:\\/\\/farm9.staticflickr.com\\/8195\\/8133340670_38c60aaca7_t.jpg\", \"height_t\":\"100\", \"width_t\":\"60\", \"url_s\":\"http:\\/\\/farm9.staticflickr.com\\/8195\\/8133340670_38c60aaca7_m.jpg\", \"height_s\":\"240\", \"width_s\":\"144\", \"url_n\":\"http:\\/\\/farm9.staticflickr.com\\/8195\\/8133340670_38c60aaca7_n.jpg\", \"height_n\":\"320\", \"width_n\":192, \"url_m\":\"http:\\/\\/farm9.staticflickr.com\\/8195\\/8133340670_38c60aaca7.jpg\", \"height_m\":\"500\", \"width_m\":\"300\", \"url_z\":\"http:\\/\\/farm9.staticflickr.com\\/8195\\/8133340670_38c60aaca7_z.jpg\", \"height_z\":\"640\", \"width_z\":\"384\", \"url_c\":\"http:\\/\\/farm9.staticflickr.com\\/8195\\/8133340670_38c60aaca7_c.jpg\", \"height_c\":\"800\", \"width_c\":480, \"url_l\":\"http:\\/\\/farm9.staticflickr.com\\/8195\\/8133340670_38c60aaca7_b.jpg\", \"height_l\":\"933\", \"width_l\":\"560\"}, {\"id\":\"8130464513\", \"owner\":\"78733179@N04\", \"secret\":\"780e01decd\", \"server\":\"8191\", \"farm\":9, \"title\":\"Hana\", \"ispublic\":1, \"isfriend\":0, \"isfamily\":0, \"description\":{\"_content\":\"In waldorf camp.\"}, \"license\":\"0\", \"dateupload\":\"1351420350\", \"datetaken\":\"2012-10-28 11:32:03\", \"datetakengranularity\":\"0\", \"ownername\":\"@janko-m\", \"iconserver\":\"8033\", \"iconfarm\":9, \"lastupdate\":\"1352241219\", \"latitude\":0, \"longitude\":0, \"a[...]
- request: 
    method: get
    uri: http://api.flickr.com/services/rest?format=json&nojsoncallback=1&api_key=<API_KEY>&method=flickr.photos.getSizes&photo_id=7986395865
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="<API_KEY>", oauth_nonce="015af9a1448e8eff33463d303a3db2b3", oauth_signature="y89Ink%2Bkk%2BPmBW9zyORfIJIBOqk%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1356227886", oauth_token="<ACCESS_TOKEN_KEY>", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json
    body: 
      encoding: ASCII-8BIT
      string: "{\"sizes\":{\"canblog\":1, \"canprint\":1, \"candownload\":1, \"size\":[{\"label\":\"Square\", \"width\":75, \"height\":75, \"source\":\"http:\\/\\/farm9.staticflickr.com\\/8306\\/7986395865_5f670c825b_s.jpg\", \"url\":\"http:\\/\\/www.flickr.com\\/photos\\/78733179@N04\\/7986395865\\/sizes\\/sq\\/\", \"media\":\"photo\"}, {\"label\":\"Large Square\", \"width\":\"150\", \"height\":\"150\", \"source\":\"http:\\/\\/farm9.staticflickr.com\\/8306\\/7986395865_5f670c825b_q.jpg\", \"url\":\"http:\\/\\/www.flickr.com\\/photos\\/78733179@N04\\/7986395865\\/sizes\\/q\\/\", \"media\":\"photo\"}, {\"label\":\"Thumbnail\", \"width\":\"67\", \"height\":\"100\", \"source\":\"http:\\/\\/farm9.staticflickr.com\\/8306\\/798639[...]
