--- 
http_interactions: 
- request: 
    method: get
    uri: http://api.flickr.com/services/rest?format=json&nojsoncallback=1&api_key=API_KEY&method=flickr.test.echo
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="API_KEY", oauth_nonce="cdfac71ddd78d82bba04e17ae0a1b3e5", oauth_signature="e2GqFhNbnb4qrQXgnD58xwmDvLs%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1347702122", oauth_token="ACCESS_TOKEN", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json
    body: 
      encoding: ASCII-8BIT
      string: "{\"format\":{\"_content\":\"json\"}, \"nojsoncallback\":{\"_content\":\"1\"}, \"api_key\":{\"_content\":\"API_KEY\"}, \"method\":{\"_content\":\"flickr.test.echo\"}, \"oauth_consumer_key\":{\"_content\":\"API_KEY\"}, \"oauth_nonce\":{\"_content\":\"cdfac71ddd78d82bba04e17ae0a1b3e5\"}, \"oauth_signature\":{\"_content\":\"e2GqFhNbnb4qrQXgnD58xwmDvLs=\"}, \"oauth_signature_method\":{\"_content\":\"HMAC-SHA1\"}, \"oauth_timestamp\":{\"_content\":\"1347702122\"}, \"oauth_token\":{\"_content\":\"ACCESS_TOKEN\"}, \"oauth_version\":{\"_content\":\"1.0\"}, \"api_auth_is_oauth\":{\"_content\":\"1\"}, \"api_sig\":{\"_content\":\"e2GqFhNbnb4qrQXgnD58xwmDvLs=\"}, \"auth_token\":{\"_content\":\"ACCESS_TOKEN\"}, \"stat\":\"ok\"}"
  recorded_at: Sat, 15 Sep 2012 09:42:03 GMT
recorded_with: VCR 2.2.4
