--- 
http_interactions: 
- request: 
    method: post
    uri: http://api.flickr.com/services/rest?format=json&nojsoncallback=1&api_key=API_KEY&method=flickr.photosets.create&title=Title&primary_photo_id=7986395865
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="API_KEY", oauth_nonce="e9a0168a66c592a60144dc9fb8e760e5", oauth_signature="aDhLYMYPCV75ZJeZTyTT8AZYVXU%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1351297978", oauth_token="ACCESS_TOKEN", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"photoset\":{\"id\":\"72157631860878086\", \"url\":\"http:\\/\\/www.flickr.com\\/photos\\/78733179@N04\\/sets\\/72157631860878086\\/\"}, \"stat\":\"ok\"}"
  recorded_at: Sat, 27 Oct 2012 00:32:59 GMT
recorded_with: VCR 2.2.4
