--- 
http_interactions: 
- request: 
    method: post
    uri: http://api.flickr.com/services/rest?format=json&nojsoncallback=1&api_key=<API_KEY>&method=flickr.photosets.create&title=Title&primary_photo_id=7986395865
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="<API_KEY>", oauth_nonce="a7cef145b2682ba398dbf0d58f962f5a", oauth_signature="XDYl0IFXQVDaSCscaTPKfP1XIUs%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1356234440", oauth_token="<ACCESS_TOKEN_KEY>", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"photoset\":{\"id\":\"72157632313811377\", \"url\":\"http:\\/\\/www.flickr.com\\/photos\\/78733179@N04\\/sets\\/72157632313811377\\/\"}, \"stat\":\"ok\"}"
  recorded_at: Sun, 23 Dec 2012 03:47:20 GMT
- request: 
    method: post
    uri: http://api.flickr.com/services/rest?format=json&nojsoncallback=1&api_key=<API_KEY>&method=flickr.photosets.delete&photoset_id=72157632313811377
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="<API_KEY>", oauth_nonce="8c12f46859e8740b06a7b54c81fb7d95", oauth_signature="0cI2DYCnLfkxwF54WTyo425boWI%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1356234440", oauth_token="<ACCESS_TOKEN_KEY>", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"stat\":\"ok\"}"
  recorded_at: Sun, 23 Dec 2012 03:47:21 GMT
recorded_with: VCR 2.3.0
