--- 
http_interactions: 
- request: 
    method: post
    uri: http://api.flickr.com/services/rest?format=json&nojsoncallback=1&api_key=<API_KEY>&method=flickr.photosets.create&title=Title&primary_photo_id=7986395865
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="<API_KEY>", oauth_nonce="8b2e4bea14fbd48f127c55552ea74be4", oauth_signature="WB49k1ldkaZrm6ukJQlQlSm46P8%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1356234441", oauth_token="<ACCESS_TOKEN_KEY>", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"photoset\":{\"id\":\"72157632313811453\", \"url\":\"http:\\/\\/www.flickr.com\\/photos\\/78733179@N04\\/sets\\/72157632313811453\\/\"}, \"stat\":\"ok\"}"
  recorded_at: Sun, 23 Dec 2012 03:47:21 GMT
- request: 
    method: post
    uri: http://api.flickr.com/services/rest?format=json&nojsoncallback=1&api_key=<API_KEY>&method=flickr.photosets.delete&photoset_id=72157632313811453
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="<API_KEY>", oauth_nonce="27bba1809dd83b9a82a9b142f6b2673a", oauth_signature="xbAsfFwYh1JwACk7MqDY6Kej63k%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1356234441", oauth_token="<ACCESS_TOKEN_KEY>", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"stat\":\"ok\"}"
  recorded_at: Sun, 23 Dec 2012 03:47:22 GMT
[...]
- request: 
    method: post
    uri: http://api.flickr.com/services/rest?format=json&nojsoncallback=1&api_key=<API_KEY>&method=flickr.photosets.delete&photoset_id=72157632313811525
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="<API_KEY>", oauth_nonce="d07d1e0000d6f9083cff9458a425285d", oauth_signature="z0I0VPlg%2Brxokzr0dKGKntmfGT0%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1356234442", oauth_token="<ACCESS_TOKEN_KEY>", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"stat\":\"ok\"}"
  recorded_at: Sun, 23 Dec 2012 03:47:23 GMT
recorded_with: VCR 2.3.0
