--- 
http_interactions: 
- request: 
    method: get
    uri: http://api.flickr.com/services/rest?format=json&nojsoncallback=1&api_key=<API_KEY>&method=flickr.photos.search&user_id=78733179%40N04&extras=description%2Clicense%2Cdate_upload%2Cdate_taken%2Cowner_name%2Cicon_server%2Coriginal_format%2Clast_update%2Cgeo%2Ctags%2Cmachine_tags%2Co_dims%2Cviews%2Cmedia%2Cpath_alias%2Curl_sq%2Curl_q%2Curl_t%2Curl_s%2Curl_n%2Curl_m%2Curl_z%2Curl_c%2Curl_l%2Curl_h%2Curl_k%2Curl_o%2Cmedia
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="<API_KEY>", oauth_nonce="96380053abb739011b14855882e88a2e", oauth_signature="Dho7EMfOhBn6rC0xvIHgswb8GXE%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1356232871", oauth_token="<ACCESS_TOKEN_KEY>", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json
    body: 
      encoding: ASCII-8BIT
      string: "{\"photos\":{\"page\":1, \"pages\":1, \"perpage\":100, \"total\":\"6\", \"photo\":[{\"id\":\"8298032637\", \"owner\":\"78733179@N04\", \"secret\":\"107a0148f6\", \"server\":\"8497\", \"farm\":9, \"title\":\"photo\", \"ispublic\":1, \"isfriend\":0, \"isfamily\":0, \"description\":{\"_content\":\"\"}, \"license\":\"0\", \"dateupload\":\"1356228863\", \"datetaken\":\"2012-12-23 03:14:23\", \"datetakengranularity\":\"0\", \"ownername\":\"@janko-m\", \"iconserver\":\"8033\", \"iconfarm\":9, \"lastupdate\":\"1356228867\", \"latitude\":0, \"longitude\":0, \"accuracy\":0, \"context\":0, \"tags\":\"\", \"machine_tags\":\"\", \"views\":\"0\", \"media\":\"photo\", \"media_status\":\"ready\", \"pathalias\":null, \"url_sq\":\"http:\\/\\/farm9.staticflickr.com\\/8497\\/8298032637_107a0148f6_s.jpg\", \"height_sq\":75, \"width_sq\":75, \"url_q\":\"http:\\/\\/farm9.staticflickr.com\\/8497\\/8298032637_107a0148f6_q.jpg\", \"height_q\":\"150\", \"width_q\":\"150\", \"url_t\":\"http:\\/\\/farm9.staticflickr.com\\/8497\\/8298032637_107a0148f6_t.jpg\", \"height_t\":\"75\", \"width_t\":\"100\", \"url_s\":\"http:\\/\\/farm9.staticflickr.com\\/8497\\/8298032637_107a0148f6_m.jpg\", \"height_s\":\"180\", \"width_s\":\"240\", \"url_n\":\"http:\\/\\/farm9.staticflickr.com\\/8497\\/8298032637_107a0148f6_n.jpg\", \"height_n\":240, \"width_n\":\"320\", \"url_m\":\"http:\\/\\/farm9.staticflickr.com\\/8497\\/8298032637_107a0148f6.jpg\", \"height_m\":\"375\", \"width_m\":\"500\"}, {\"id\":\"8133340670\", \"owner\":\"78733179@N04\", \"secret\":\"38c60aaca7\", \"server\":\"8195\", \"farm\":9, \"title\":\"Screen Shot 2012-10-29 at 2.26.20 AM\", \"ispublic\":1, \"isfriend\":0, \"isfamily\":0, \"description\":{\"_content\":\"\"}, \"license\":\"0\", \"dateupload\":\"1351474062\", \"datetaken\":\"2012-10-29 02:27:34\", \"datetakengranularity\":\"0\", \"ownername\":\"@janko-m\", \"iconserver\":\"8033\", \"iconfarm\":9, \"lastupdate\":\"1352241219\", \"latitude\":0, \"longitude\":0, \"accuracy\":0, \"context\":0, \"tags\":\"\", \"machine_tags\":\"\", \"views\":\"0\", \"media\":\"photo\", \"media_status\":\"ready\", \"pathalias\":null, \"url_sq\":\"http:\\/\\/farm9.staticflickr.com\\/8195\\/8133340670_38c60aaca7_s.jpg\", \"height_sq\":75, \"width_sq\":75, \"url_q\":\"http:\\/\\/farm9.staticflickr.com\\/8195\\/8133340670_38c60aaca7_q.jpg\", \"height_q\":\"150\", \"width_q\":\"150\", \"url_t\":\"http:\\/\\/farm9.staticflickr.com\\/8195\\/8133340670_38c60aaca7_t.jpg\", \"height_t\":\"100\", \"width_t\":\"60\", \"url_s\":\"http:\\/\\/farm9.staticflickr.com\\/8195\\/8133340670_38c60aaca7_m.jpg\", \"height_s\":\"240\", \"width_s\":\"144\", \"url_n\":\"http:\\/\\/farm9.staticflickr.com\\/8195\\/8133340670_38c60aaca7_n.jpg\", \"height_n\":\"320\", \"width_n\":192, \"url_m\":\"http:\\/\\/farm9.staticflickr.com\\/8195\\/8133340670_38c60aaca7.jpg\", \"height_m\":\"500\", \"width_m\":\"300\", \"url_z\":\"http:\\/\\/farm9.staticflickr.com\\/8195\\/8133340670_38c60aaca7_z.jpg\", \"height_z\":\"640\", \"width_z\":\"384\", \"url_c\":\"http:\\/\\/farm9.staticflickr.com\\/8195\\/8133340670_38c60aaca7_c.jpg\", \"height_c\":\"800\", \"width_c\":480, \"url_l\":\"http:\\/\\/farm9.staticflickr.com\\/8195\\/8133340670_38c60aaca7_b.jpg\", \"height_l\":\"933\", \"width_l\":\"560\"}, {\"id\":\"8130464513\", \"owner\":\"78733179@N04\", \"secret\":\"780e01decd\", \"server\":\"8191\", \"farm\":9, \"title\":\"Hana\", \"ispublic\":1, \"isfriend\":0, \"isfamily\":0, \"description\":{\"_content\":\"In waldorf camp.\"}, \"license\":\"0\", \"dateupload\":\"1351420350\", \"datetaken\":\"2012-10-28 11:32:03\", \"datetakengranularity\":\"0\", \"ownername\":\"@janko-m\", \"iconserver\":\"8033\", \"iconfarm\":9, \"lastupdate\":\"1352241219\", \"latitude\":0, \"longitude\":0, \"a[...]
[...]
- request: 
    method: get
    uri: http://api.flickr.com/services/rest?format=json&nojsoncallback=1&api_key=<API_KEY>&method=flickr.photos.search&user_id=78733179%40N04&extras=description%2Clicense%2Cdate_upload%2Cdate_taken%2Cowner_name%2Cicon_server%2Coriginal_format%2Clast_update%2Cgeo%2Ctags%2Cmachine_tags%2Co_dims%2Cviews%2Cmedia%2Cpath_alias%2Curl_sq%2Curl_q%2Curl_t%2Curl_s%2Curl_n%2Curl_m%2Curl_z%2Curl_c%2Curl_l%2Curl_h%2Curl_k%2Curl_o%2Cmedia&media=photos
    body: 
      encoding: US-[...]
- request: 
    method: get
    uri: http://api.flickr.com/services/rest?format=json&nojsoncallback=1&api_key=<API_KEY>&method=flickr.photos.search&user_id=78733179%40N04&extras=description%2Clicense%2Cdate_upload%2Cdate_taken%2Cowner_name%2Cicon_server%2Coriginal_format%2Clast_update%2Cgeo%2Ctags%2Cmachine_tags%2Co_dims%2Cviews%2Cmedia%2Cpath_alias%2Curl_sq%2Curl_q%2Curl_t%2Curl_s%2Curl_n%2Curl_m%2Curl_z%2Curl_c%2Curl_l%2Curl_h%2Curl_k%2Curl_o%2Cmedia&media=videos
    body: 
      encoding: US-[...]
