--- 
http_interactions: 
- request: 
    method: get
    uri: http://api.flickr.com/services/rest?format=json&nojsoncallback=1&api_key=<API_KEY>&method=flickr.photos.getExif&photo_id=7986395865
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="<API_KEY>", oauth_nonce="a9b522c68351f42d9ef9b8c44096bb56", oauth_signature="r%2F2Br%2FGjK%2F2xaqEXcV4gMv46aK4%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1357595051", oauth_token="<ACCESS_TOKEN_KEY>", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json
    body: 
      encoding: ASCII-8BIT
      string: "{\"photo\":{\"id\":\"7986395865\", \"secret\":\"10b20ff529\", \"server\":\"8306\", \"farm\":9, \"camera\":\"\", \"exif\":[{\"tagspace\":\"JFIF\", \"tagspaceid\":0, \"tag\":\"JFIFVersion\", \"label\":\"JFIFVersion\", \"raw\":{\"_content\":\"1.02\"}}, {\"tagspace\":\"JFIF\", \"tagspaceid\":0, \"tag\":\"ResolutionUnit\", \"label\":\"Resolution Unit\", \"raw\":{\"_content\":\"inches\"}}, {\"tagspace\":\"JFIF\", \"tagspaceid\":0, \"tag\":\"XResolution\", \"label\":\"X-Resolution\", \"raw\":{\"_content\":\"200\"}, \"clean\":{\"_content\":\"200 dpi\"}}, {\"tagspace\":\"JFIF\", \"tagspaceid\":0, \"tag\":\"YResolution\", \"label\":\"Y-Resolution\", \"raw\":{\"_content\":\"200\"}, \"clean\":{\"_content\":\"200 dpi\"}}, {\"tagspace\":\"Photoshop\", \"tagspaceid\":0, \"tag\":\"DisplayedUnitsX\", \"label\":\"Displayed Units X\", \"raw\":{\"_content\":\"inches\"}}, {\"tagspace\":\"Photoshop\", \"tagspaceid\":0, \"tag\":\"DisplayedUnitsY\", \"label\":\"Displayed Units Y\", \"raw\":{\"_content\":\"inches\"}}, {\"tagspace\":\[...]
