---
http_interactions:
- request:
    method: post
    uri: https://api.flickr.com/services/rest?format=json&nojsoncallback=1&api_key=<API_KEY>&method=flickr.photosets.create&title=Set&primary_photo_id=8130464513
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<API_KEY>", oauth_nonce="68b9006b9576645d2597bd63d9370570",
        oauth_signature="RC8abtplu%2BlvwLtSOj8VivSJf04%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1380987185", oauth_token="<ACCESS_TOKEN_KEY>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"photoset":{"id":"72157636216289703", "url":"http:\/\/www.flickr.com\/photos\/78733179@N04\/sets\/72157636216289703\/"},
        "stat":"ok"}'
  recorded_at: Sat, 05 Oct 2013 15:33:06 GMT
recorded_with: VCR 2.5.0
