--- 
http_interactions: 
- request: 
    method: get
    uri: http://api.flickr.com/services/rest?format=json&nojsoncallback=1&api_key=<API_KEY>&method=flickr.photos.upload.checkTickets&tickets=1
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="<API_KEY>", oauth_nonce="7c18abf48840a264ff972c99d2746e06", oauth_signature="hcEKirSgCD3xF%2BMRYYHknflN4LM%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1356227786", oauth_token="<ACCESS_TOKEN_KEY>", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json
    body: 
      encoding: ASCII-8BIT
      string: "{\"uploader\":{\"ticket\":[{\"id\":\"1\", \"invalid\":1}]}, \"stat\":\"ok\"}"
  recorded_at: Sun, 23 Dec 2012 01:56:26 GMT
recorded_with: VCR 2.3.0
