--- 
http_interactions: 
- request: 
    method: get
    uri: http://api.flickr.com/services/rest?format=json&nojsoncallback=1&api_key=API_KEY&method=flickr.test.echo
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="API_KEY", oauth_nonce="d3c9f332ce4182f018c0b5a0c6c0f215", oauth_signature="RJk%2FuS6TL50H278fS2YUHhwc0Co%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1347962154", oauth_token="ACCESS_TOKEN", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json
    body: 
      encoding: ASCII-8BIT
      string: "{\"format\":{\"_content\":\"json\"}, \"nojsoncallback\":{\"_content\":\"1\"}, \"api_key\":{\"_content\":\"API_KEY\"}, \"method\":{\"_content\":\"flickr.test.echo\"}, \"oauth_consumer_key\":{\"_content\":\"API_KEY\"}, \"oauth_nonce\":{\"_content\":\"d3c9f332ce4182f018c0b5a0c6c0f215\"}, \"oauth_signature\":{\"_content\":\"RJk\\/uS6TL50H278fS2YUHhwc0Co=\"}, \"oauth_signature_method\":{\"_content\":\"HMAC-SHA1\"}, \"oauth_timestamp\":{\"_content\":\"1347962154\"}, \"oauth_token\":{\"_content\":\"ACCESS_TOKEN\"}, \"oauth_version\":{\"_content\":\"1.0\"}, \"api_auth_is_oauth\":{\"_content\":\"1\"}, \"api_sig\":{\"_content\":\"RJk\\/uS6TL50H278fS2YUHhwc0Co=\"}, \"auth_token\":{\"_content\":\"ACCESS_TOKEN\"}, \"stat\":\"ok\"}"
  recorded_at: Tue, 18 Sep 2012 09:55:54 GMT
recorded_with: VCR 2.2.4
