--- 
http_interactions: 
- request: 
    method: get
    uri: http://api.flickr.com/services/rest?format=json&nojsoncallback=1&api_key=<API_KEY>&method=flickr.photos.getRecent&sizes=all&extras=url_sq%2Curl_t%2Curl_q%2Curl_s%2Curl_n%2Curl_m%2Curl_z%2Curl_c%2Curl_l%2Curl_h%2Curl_k%2Curl_o
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="<API_KEY>", oauth_nonce="245c2aa2b9272b352f83b054aec3279e", oauth_signature="OPuqKiSZw0nfQdPatzIkgPJPb5k%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1356393749", oauth_token="<ACCESS_TOKEN_KEY>", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json
    body: 
      encoding: ASCII-8BIT
      string: "{\"photos\":{\"page\":1, \"pages\":10, \"perpage\":100, \"total\":1000, \"photo\":[{\"id\":\"8304633211\", \"owner\":\"24296954@N04\", \"secret\":\"2e73c5fe09\", \"server\":\"8213\", \"farm\":9, \"title\":\"DSC_5312\", \"ispublic\":1, \"isfriend\":0, \"isfamily\":0, \"url_sq\":\"http:\\/\\/farm9.staticflickr.com\\/8213\\/8304633211_2e73c5fe09_s.jpg\", \"height_sq\":75, \"width_sq\":75, \"url_t\":\"http:\\/\\/farm9.staticflickr.com\\/8213\\/8304633211_2e73c5fe09_t.jpg\", \"height_t\":\"100\", \"width_t\":\"67\", \"url_q\":\"http:\\/\\/farm9.staticflickr.com\\/8213\\/8304633211_2e73c5fe09_q.jpg\", \"height_q\":\"150\", \"width_q\":\"150\", \"url_s\":\"http:\\/\\/farm9.staticflickr.com\\/8213\\/8304633211_2e73c5fe09_m.jpg\", \"height_s\":\"240\", \"width_s\":\"160\", \"url_n\":\"http:\\/\\/farm9.staticflickr.com\\/8213\\/8304633211_2e73c5fe09_n.jpg\", \"height_n\":\"320\", \"width_n\":214, \"url_m\":\"http:\\/\\/farm9.staticflickr.com\\/8213\\/8304633211_2e73c5fe09.jpg\", \"height_m\":\"500\", \"width_m\":\"334\", \"url_z\":\"http:\\/\\/farm9.staticflickr.com\\/8213\\/8304633211_2e73c5fe09_z.jpg\", \"height_z\":\"640\", \"width_z\":\"428\", \"url_c\":\"http:\\/\\/farm9.staticflickr.com\\/8213\\/8304633211_2e73c5fe09_c.jpg\", \"height_c\":\"800\", \"width_c\":534, \"url_l\":\"http:\\/\\/farm9.staticflickr.com\\/8213\\/8304633211_2e73c5fe09_b.jpg\", \"height_l\":\"1024\", \"width_l\":\"684\", \"url_h\":\"http:\\/\\/farm9.staticflickr.com\\/8213\\/8304633211_20a84a1243_h.jpg\", \"height_h\":\"1600\", \"width_h\":1068, \"url_k\":\"http:\\/\\/farm9.staticflickr.com\\/8213\\/8304633211_d05c0657d2_k.jpg\", \"height_k\":\"2048\", \"width_k\":1367, \"url_o\":\"http:\\/\\/farm9.staticflickr.com\\/8213\\/8304633211_5317f280a3_o.jpg\", \"height_o\":\"3600\", \"width_o\":\"2403\"}, {\"id\":\"8304633305\", \"owner\":\"63122573@N04\", \"secret\":\"b213ddf69b\", \"server\":\"8499\", \"farm\":9, \"title\":\"L1891941\", \"ispublic\":1, \"isfriend\":0, \"isfamily\":0, \"url_sq\":\"http:\\/\\/farm9.staticflickr.com\\/8499\\/8304633305_b213ddf69b_s.jpg\", \"height_sq\":75, \"width_sq\":75, \"url_t\":\"http:\\/\\/farm9.staticflickr.com\\/8499\\/8304633305_b213ddf69b_t.jpg\", \"height_t\":\"67\", \"width_t\":\"100\", \"url_q\":\"http:\\/\\/farm9.staticflickr.com\\/8499\\/[...]
