---
http_interactions:
- request:
    method: get
    uri: https://api.flickr.com/services/rest?format=json&nojsoncallback=1&api_key=<API_KEY>&method=flickr.people.getUploadStatus
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<API_KEY>", oauth_nonce="7c800414cf61daa76b21293e58c9a235",
        oauth_signature="lPN%2FW9g4SZsLXiH%2FjQM7jbtHOu8%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1380985799", oauth_token="<ACCESS_TOKEN_KEY>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"user":{"id":"78733179@N04", "ispro":0, "username":{"_content":"@janko-m"},
        "bandwidth":{"max":2147483648, "used":0, "maxbytes":214748364800, "usedbytes":0,
        "remainingbytes":214748364800, "maxkb":209715200, "usedkb":0, "remainingkb":209715200,
        "unlimited":1}, "filesize":{"max":209715200, "maxbytes":209715200, "maxkb":204800,
        "maxmb":200}, "sets":{"created":null, "remaining":"lots"}, "videosize":{"maxbytes":1073741824,
        "maxkb":1048576, "maxmb":1024}, "videos":{"uploaded":0, "remaining":"lots"}},
        "stat":"ok"}'
  recorded_at: Sat, 05 Oct 2013 15:10:00 GMT
recorded_with: VCR 2.5.0
