---
http_interactions:
- request:
    method: get
    uri: https://api.flickr.com/services/rest?format=json&nojsoncallback=1&api_key=<API_KEY>&method=flickr.photosets.getInfo&photoset_id=72157636216289703
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<API_KEY>", oauth_nonce="5b25e7bf8e3b4caa1841bbc8f3211e9e",
        oauth_signature="mBhI97yVM2bIhnBIYQ0mHLwx70s%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1380987351", oauth_token="<ACCESS_TOKEN_KEY>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"photoset":{"id":"72157636216289703", "owner":"78733179@N04", "username":"@janko-m",
        "primary":"8130464513", "secret":"780e01decd", "server":"8191", "farm":9,
        "photos":1, "count_views":"0", "count_comments":"0", "count_photos":"1", "count_videos":0,
        "title":{"_content":"Set"}, "description":{"_content":""}, "can_comment":1,
        "date_create":"1380987182", "date_update":"1380987344", "coverphoto_server":"0",
        "coverphoto_farm":0}, "stat":"ok"}'
  recorded_at: Sat, 05 Oct 2013 15:35:52 GMT
recorded_with: VCR 2.5.0
