--- 
http_interactions: 
- request: 
    method: get
    uri: http://api.flickr.com/services/rest?format=json&nojsoncallback=1&api_key=API_KEY&method=flickr.photosets.getPhotos&photoset_id=72157631860874542&extras=media
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="API_KEY", oauth_nonce="a6bc25986cea906992f96a870657464b", oauth_signature="kk68MaV%2ByQt14%2FauZ8u9ziypGBc%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1351300966", oauth_token="ACCESS_TOKEN", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json
    body: 
      encoding: ASCII-8BIT
      string: "{\"photoset\":{\"id\":\"72157631860874542\", \"primary\":\"8126288530\", \"owner\":\"78733179@N04\", \"ownername\":\"@janko-m\", \"photo\":[{\"id\":\"8126288530\", \"secret\":\"6e6eaa53c8\", \"server\":\"8470\", \"farm\":9, \"title\":\"photo\", \"isprimary\":\"1\", \"media\":\"photo\", \"media_status\":\"ready\"}], \"page\":1, \"per_page\":500, \"perpage\":500, \"pages\":1, \"total\":\"1\"}, \"stat\":\"ok\"}"
  recorded_at: Sat, 27 Oct 2012 01:22:47 GMT
- request: 
    method: get
    uri: http://api.flickr.com/services/rest?format=json&nojsoncallback=1&api_key=API_KEY&method=flickr.photosets.getPhotos&media=photos&photoset_id=72157631860874542&extras=media
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="API_KEY", oauth_nonce="bc9d7c75cebf1c07b836688179d699be", oauth_signature="KhlHpKonKCFTG966DA%2Fdub16iO8%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1351300967", oauth_token="ACCESS_TOKEN", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json
    body: 
      encoding: ASCII-8BIT
      string: "{\"photoset\":{\"id\":\"72157631860874542\", \"primary\":\"8126288530\", \"owner\":\"78733179@N04\", \"ownername\":\"@janko-m\", \"photo\":[{\"id\":\"8126288530\", \"secret\":\"6e6eaa53c8\", \"server\":\"8470\", \"farm\":9, \"title\":\"photo\", \"isprimary\":\"1\", \"media\":\"photo\", \"media_status\":\"ready\"}], \"page\":1, \"per_page\":500, \"perpage\":500, \"pages\":1, \"total\":\"1\"}, \"stat\":\"ok\"}"
  recorded_at: Sat, 27 Oct 2012 01:22:48 GMT
- request: 
    method: get
    uri: http://api.flickr.com/services/rest?format=json&nojsoncallback=1&api_key=API_KEY&method=flickr.photosets.getPhotos&media=videos&photoset_id=72157631860874542&extras=media
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="API_KEY", oauth_nonce="21af19d1e86ff795795629281acedc5e", oauth_signature="hCi7jhs81snXV3PLrYCQwOc3pnc%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1351300968", oauth_token="ACCESS_TOKEN", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json
    body: 
      encoding: ASCII-8BIT
      string: "{\"photoset\":{\"id\":\"72157631860874542\", \"primary\":\"8126288530\", \"owner\":\"78733179@N04\", \"ownername\":\"@janko-m\", \"photo\":[], \"page\":1, \"per_page\":500, \"perpage\":500, \"pages\":0, \"total\":\"0\"}, \"stat\":\"ok\"}"
  recorded_at: Sat, 27 Oct 2012 01:22:48 GMT
- request: 
    method: get
    uri: http://api.flickr.com/services/rest?format=json&nojsoncallback=1&api_key=API_KEY&method=flickr.photosets.getPhotos&extras=description%2Clicense%2Cdate_upload%2Cdate_taken%2Cowner_name%2Cicon_server%2Coriginal_format%2Clast_update%2Cgeo%2Ctags%2Cmachine_tags%2Co_dims%2Cviews%2Cmedia%2Cpath_alias%2Curl_sq%2Curl_q%2Curl_t%2Curl_s%2Curl_n%2Curl_m%2Curl_z%2Curl_c%2Curl_l%2Curl_h%2Curl_k%2Curl_o%2Cmedia&photoset_id=72157631860874542
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="API_KEY", oauth_nonce="ce29198f389176b58744fa068dd98821", oauth_signature="9o86Wxwg%2Fe10A%2FZim27IsH5HsfE%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1351300969", oauth_token="ACCESS_TOKEN", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json
    body: 
      encoding: ASCII-8BIT
      string: "{\"photoset\":{\"id\":\"72157631860874542\", \"primary\":\"8126288530\", \"owner\":\"78733179@N04\", \"ownername\":\"@janko-m\", \"photo\":[{\"id\":\"8126288530\", \"secret\":\"6e6eaa53c8\", \"server\":\"8470\", \"farm\":9, \"title\":\"photo\", \"isprimary\":\"1\", \"description\":{\"_content\":\"Description\"}, \"license\":\"0\", \"dateupload\":\"1351295186\", \"datetaken\":\"2012-10-27 01:46:26\", \"datetakengranularity\":\"0\", \"ownername\":\"@janko-m\", \"iconserver\":\"8033\", \"iconfarm\":9, \"lastupdate\":\"1351300921\", \"latitude\":0, \"longitude\":0, \"accuracy\":0, \"context\":0, \"tags\":\"\", \"machine_tags\":\"\", \"views\":\"0\", \"media\":\"photo\", \"media_status\":\"ready\", \"pathalias\":null, \"url_sq\":\"http:\\/\\/farm9.staticflickr.com\\/8470\\/8126288530_6e6eaa53c8_s.jpg\", \"height_sq\":75, \"width_sq\":75, \"url_q\":\"http:\\/\\/farm9.staticflickr.com\\/8470\\/8126288530_6e6eaa53c8_q.jpg\", \"height_q\":\"150\", \"width_q\":\"150\", \"url_t\":\"http:\\/\\/farm9.staticflickr.com\\/8470\\/8126288530_6e6eaa53c8_t.jpg\", \"height_t\":\"75\", \"width_t\":\"100\", \"url_s\":\"http:\\/\\/farm9.staticflickr.com\\/8470\\/8126288530_6e6eaa53c8_m.jpg\", \"height_s\":\"180\", \"width_s\":\"240\", \"url_n\":\"http:\\/\\/farm9.staticflickr.com\\/8470\\/8126288530_6e6eaa53c8_n.jpg\", \"height_n\":240, \"width_n\":\"320\", \"url_m\":\"http:\\/\\/farm9.staticflickr.com\\/8470\\/8126288530_6e6eaa53c8.jpg\", \"height_m\":\"375\", \"width_m\":\"500\"}], \"page\":1, \"per_page\":500, \"perpage\":500, \"pages\":1, \"total\":\"1\"}, \"stat\":\"ok\"}"
  recorded_at: Sat, 27 Oct 2012 01:22:49 GMT
recorded_with: VCR 2.2.4
