--- 
http_interactions: 
- request: 
    method: get
    uri: http://api.flickr.com/services/rest?format=json&nojsoncallback=1&api_key=API_KEY&method=flickr.photos.getContactsPhotos&include_self=1&extras=media
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="API_KEY", oauth_nonce="7db55dbd44553a5a84d4e74b2bfdfd23", oauth_signature="xkCGAlDU8nXj96HaqjzdbsWojOE%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1351300730", oauth_token="ACCESS_TOKEN", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json
    body: 
      encoding: ASCII-8BIT
      string: "{\"photos\":{\"photo\":[{\"id\":\"8126288530\", \"secret\":\"6e6eaa53c8\", \"server\":\"8470\", \"farm\":9, \"owner\":\"78733179@N04\", \"username\":\"@janko-m\", \"title\":\"photo\", \"ispublic\":1, \"isfriend\":0, \"isfamily\":0, \"media\":\"photo\", \"media_status\":\"ready\"}, {\"id\":\"7989540600\", \"secret\":\"0515684d4c\", \"server\":\"8456\", \"farm\":9, \"owner\":\"78733179@N04\", \"username\":\"@janko-m\", \"title\":\"David Belle - Rush Hour (BBC commercial)\", \"ispublic\":1, \"isfriend\":0, \"isfamily\":0, \"media\":\"video\", \"media_status\":\"ready\"}, {\"id\":\"7986395865\", \"secret\":\"5f670c825b\", \"server\":\"8306\", \"farm\":9, \"owner\":\"78733179@N04\", \"username\":\"@janko-m\", \"title\":\"Game of Thrones\", \"ispublic\":1, \"isfriend\":0, \"isfamily\":0, \"media\":\"photo\", \"media_status\":\"ready\"}], \"total\":3, \"page\":1, \"per_page\":10, \"pages\":1}, \"stat\":\"ok\"}"
  recorded_at: Sat, 27 Oct 2012 01:18:51 GMT
recorded_with: VCR 2.2.4
