--- 
http_interactions: 
- request: 
    method: get
    uri: http://api.flickr.com/services/rest?format=json&nojsoncallback=1&api_key=<API_KEY>&method=flickr.test.echo
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="<API_KEY>", oauth_nonce="4a1eead21bd5f6a843b9e5b4dab9cced", oauth_signature="zWfo5p55pqjuGSwq355Uc5qNo3w%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1356358846", oauth_token="<ACCESS_TOKEN_KEY>", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json
    body: 
      encoding: ASCII-8BIT
      string: "{\"format\":{\"_content\":\"json\"}, \"nojsoncallback\":{\"_content\":\"1\"}, \"api_key\":{\"_content\":\"<API_KEY>\"}, \"method\":{\"_content\":\"flickr.test.echo\"}, \"oauth_consumer_key\":{\"_content\":\"<API_KEY>\"}, \"oauth_nonce\":{\"_content\":\"4a1eead21bd5f6a843b9e5b4dab9cced\"}, \"oauth_signature\":{\"_content\":\"zWfo5p55pqjuGSwq355Uc5qNo3w=\"}, \"oauth_signature_method\":{\"_content\":\"HMAC-SHA1\"}, \"oauth_timestamp\":{\"_content\":\"1356358846\"}, \"oauth_token\":{\"_content\":\"<ACCESS_TOKEN_KEY>\"}, \"oauth_version\":{\"_content\":\"1.0\"}, \"api_auth_is_oauth\":{\"_content\":\"1\"}, \"api_sig\":{\"_content\":\"zWfo5p55pqjuGSwq355Uc5qNo3w=\"}, \"auth_token\":{\"_content\":\"<ACCESS_TOKEN_KEY>\"}, \"stat\":\"ok\"}"
  recorded_at: Mon, 24 Dec 2012 14:20:47 GMT
recorded_with: VCR 2.3.0
