---
http_interactions:
- request:
    method: get
    uri: https://api.flickr.com/services/rest?format=json&nojsoncallback=1&api_key=<API_KEY>&method=flickr.people.findByEmail&find_email=flickriegem%40yahoo.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<API_KEY>", oauth_nonce="9a130de413ec647ce0c13474452fece6",
        oauth_signature="AWBSfVb%2FjNpclt6LxeQkRt2ZNYE%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1380985799", oauth_token="<ACCESS_TOKEN_KEY>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"user":{"id":"78733179@N04", "nsid":"78733179@N04", "username":{"_content":"@janko-m"}},
        "stat":"ok"}'
  recorded_at: Sat, 05 Oct 2013 15:09:59 GMT
recorded_with: VCR 2.5.0
