---
http_interactions:
- request:
    method: get
    uri: http://api.flickr.com/services/rest?format=json&nojsoncallback=1&api_key=<API_KEY>&method=flickr.photos.getExif&photo_id=8130464513
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<API_KEY>", oauth_nonce="2b573b135701313032834db6dfd788c3",
        oauth_signature="svMgilNs0e40LZq8grgHSnLCMuU%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1380986282", oauth_token="<ACCESS_TOKEN_KEY>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"photo":{"id":"8130464513", "secret":"780e01decd", "server":"8191",
        "farm":9, "camera":"", "exif":[{"tagspace":"JFIF", "tagspaceid":0, "tag":"JFIFVersion",
        "label":"JFIFVersion", "raw":{"_content":"1.01"}}, {"tagspace":"JFIF", "tagspaceid":0,
        "tag":"ResolutionUnit", "label":"Resolution Unit", "raw":{"_content":"inches"}},
        {"tagspace":"JFIF", "tagspaceid":0, "tag":"XResolution", "label":"X-Resolution",
        "raw":{"_content":"72"}, "clean":{"_content":"72 dpi"}}, {"tagspace":"JFIF",
        "tagspaceid":0, "tag":"YResolution", "label":"Y-Resolution", "raw":{"_content":"72"},
        "clean":{"_content":"72 dpi"}}, {"tagspace":"ICC-view", "tagspaceid":0, "tag":"ViewingCondIlluminant",
        "label":"Viewing Cond Illuminant", "raw":{"_content":"19.6445 20.3718 16.8089"}},
        {"tagspace":"ICC-view", "tagspaceid":0, "tag":"ViewingCondSurround", "label":"Viewing
        Cond Surround", "raw":{"_content":"3.92889 4.07439 3.36179"}}, {"tagspace":"ICC-view",
        "tagspaceid":0, "tag":"ViewingCondIlluminantType", "label":"Viewing Conditions
        Illuminant Type", "raw":{"_content":"D50"}}, {"tagspace":"ICC-meas", "tagspaceid":0,
        "tag":"MeasurementObserver", "label":"Measurement Observer", "raw":{"_content":"CIE
        1931"}}, {"tagspace":"ICC-meas", "tagspaceid":0, "tag":"MeasurementBacking",
        "label":"Measurement Backing", "raw":{"_content":"0 0 0"}}, {"tagspace":"ICC-meas",
        "tagspaceid":0, "tag":"MeasurementGeometry", "label":"Measurement Geometry",
        "raw":{"_content":"Unknown (0)"}}, {"tagspace":"ICC-meas", "tagspaceid":0,
        "tag":"MeasurementFlare", "label":"Measurement Flare", "raw":{"_content":"0.999%"}},
        {"tagspace":"ICC-meas", "tagspaceid":0, "tag":"MeasurementIlluminant", "label":"Measurement
        Illuminant", "raw":{"_content":"D65"}}]}, "stat":"ok"}'
  recorded_at: Sat, 05 Oct 2013 15:18:02 GMT
recorded_with: VCR 2.5.0
