--- 
http_interactions: 
- request: 
    method: post
    uri: http://api.flickr.com/services/rest?format=json&nojsoncallback=1&api_key=<API_KEY>&method=flickr.photosets.create&title=Title&primary_photo_id=7986395865
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="<API_KEY>", oauth_nonce="62cf8d9da68ae59cf179abec28fe3950", oauth_signature="dGD4nle9wRhPtdrCBECHH11TZqQ%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1356358839", oauth_token="<ACCESS_TOKEN_KEY>", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"photoset\":{\"id\":\"72157632326644353\", \"url\":\"http:\\/\\/www.flickr.com\\/photos\\/78733179@N04\\/sets\\/72157632326644353\\/\"}, \"stat\":\"ok\"}"
  recorded_at: Mon, 24 Dec 2012 14:20:40 GMT
- request: 
    method: post
    uri: http://api.flickr.com/services/rest?format=json&nojsoncallback=1&api_key=<API_KEY>&method=flickr.photosets.delete&photoset_id=72157632326644353
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="<API_KEY>", oauth_nonce="ebebf5d59e37849f3f88d5b84b8bbb44", oauth_signature="Eue571Gr%2BLlGNZtC6nInuSWnmco%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1356358840", oauth_token="<ACCESS_TOKEN_KEY>", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"stat\":\"ok\"}"
  recorded_at: Mon, 24 Dec 2012 14:20:40 GMT
recorded_with: VCR 2.3.0
