--- 
http_interactions: 
- request: 
    method: get
    uri: http://api.flickr.com/services/rest?format=json&nojsoncallback=1&api_key=<API_KEY>&method=flickr.photosets.getInfo&photoset_id=72157631860874542
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="<API_KEY>", oauth_nonce="2737a4cfa5c274507c7102e9807f2add", oauth_signature="Xbo%2BHmESrtGGsbjsLhIUenHtpyg%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1356234856", oauth_token="<ACCESS_TOKEN_KEY>", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json
    body: 
      encoding: ASCII-8BIT
      string: "{\"photoset\":{\"id\":\"72157631860874542\", \"owner\":\"78733179@N04\", \"username\":\"@janko-m\", \"primary\":\"7986395865\", \"secret\":\"5f670c825b\", \"server\":\"8306\", \"farm\":9, \"photos\":1, \"count_views\":\"0\", \"count_comments\":\"0\", \"count_photos\":\"1\", \"count_videos\":0, \"title\":{\"_content\":\"Title\"}, \"description\":{\"_content\":\"Description\"}, \"can_comment\":1, \"date_create\":\"1351297929\", \"date_update\":\"1356234600\"}, \"stat\":\"ok\"}"
  recorded_at: Sun, 23 Dec 2012 03:54:18 GMT
recorded_with: VCR 2.3.0
