--- 
http_interactions: 
- request: 
    method: get
    uri: http://api.flickr.com/services/rest?format=json&nojsoncallback=1&api_key=<API_KEY>&method=flickr.photos.getFavorites&photo_id=8300578776
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="<API_KEY>", oauth_nonce="e2442ca6b666b8e05bd1ed5027b560cd", oauth_signature="qZ%2BljjP9GVQlkRScyXVx%2FTNE5uQ%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1356389742", oauth_token="<ACCESS_TOKEN_KEY>", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json
    body: 
      encoding: ASCII-8BIT
      string: "{\"photo\":{\"person\":[{\"nsid\":\"50056377@N07\", \"username\":\"Billy | \\u5c0f\\u9ea5\", \"favedate\":\"1356318534\", \"iconserver\":\"8053\", \"iconfarm\":9}, {\"nsid\":\"91437101@N07\", \"username\":\"tildenchristmas\", \"favedate\":\"1356313988\", \"iconserver\":\"0\", \"iconfarm\":0}, {\"nsid\":\"89780399@N04\", \"username\":\"atibob\", \"favedate\":\"1356303968\", \"iconserver\":\"8342\", \"iconfarm\":9}, {\"nsid\":\"46973482@N04\", \"username\":\"lulecimhikmet\", \"favedate\":\"1356300493\", \"iconserver\":\"8487\", \"iconfarm\":9}, {\"nsid\":\"41281124@N07\", \"username\":\"Phil Marett.\", \"favedate\":\"1356291448\", \"iconserver\":\"3203\", \"iconfarm\":4}, {\"nsid\":\"98715688@N00\", \"username\":\"agnellina\", \"favedate\":\"1356287964\", \"iconserver\":\"8199\", \"iconfarm\":9}, {\"nsid\":\"48392371@N08\", \"username\":\"Auensen\", \"favedate\":\"1356286745\", \"iconserver\":\"6021\", \"iconfarm\":7}, {\"nsid\":\"50346081@N04\", \"username\":\"Wolfgang Kraus\", \"favedate\":\"1356285303\", \"iconserver\":\"3336\", \"iconfarm\":4}, {\"nsid\":\"34456202@N03\", \"username\":\"CarvinConcrete\", \"favedate\":\"1356284544\", \"iconserver\":\"8348\", \"iconfarm\":9}, {\"nsid\":\"91387060@N05\", \"username\":\"ApollointheSky\", \"favedate\":\"1356283330\", \"iconserver\":\"8080\", \"iconfarm\":9}], \"id\":\"8300578776\", \"secret\":\"c860ef48cb\", \"server\":\"8493\", \"farm\":9, \"page\":1, \"pages\":2, \"perpage\":10, \"total\":\"15\"}, \"stat\":\"ok\"}"
  recorded_at: Mon, 24 Dec 2012 22:55:42 GMT
recorded_with: VCR 2.3.0
