---
http_interactions:
- request:
    method: post
    uri: http://api.flickr.com/services/rest?format=json&nojsoncallback=1&api_key=<API_KEY>&method=flickr.photos.setPerms&is_public=1&is_friend=1&is_family=1&perm_comment=1&perm_addmeta=1&photo_id=8130464513
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<API_KEY>", oauth_nonce="f6a4a37f1d85607d79db06524abced52",
        oauth_signature="Qj5i99WJUrSaYhuAzP2kSI91Ilg%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1380986558", oauth_token="<ACCESS_TOKEN_KEY>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"photoid":{"_content":"8130464513", "secret":"780e01decd", "originalsecret":""},
        "stat":"ok"}'
  recorded_at: Sat, 05 Oct 2013 15:22:38 GMT
recorded_with: VCR 2.5.0
