--- 
http_interactions: 
- request: 
    method: get
    uri: http://api.flickr.com/services/rest?format=json&nojsoncallback=1&api_key=API_KEY&method=flickr.test.login&vcr=flickr+1
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="API_KEY", oauth_nonce="52d148b5e1b8eda06600766e2b893525", oauth_signature="YOmjWl%2BzR1jDq6DdqNtTnQr7FQQ%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1347962152", oauth_token="ACCESS_TOKEN", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json
    body: 
      encoding: ASCII-8BIT
      string: "{\"user\":{\"id\":\"78733179@N04\", \"username\":{\"_content\":\"@janko-m\"}}, \"stat\":\"ok\"}"
  recorded_at: Tue, 18 Sep 2012 09:55:52 GMT
recorded_with: VCR 2.2.4
