--- 
http_interactions: 
- request: 
    method: get
    uri: http://api.flickr.com/services/rest?format=json&nojsoncallback=1&api_key=<API_KEY>&method=flickr.test.echo
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="<API_KEY>", oauth_nonce="c6d72ccc3c6289dc77ba1e918e1b32eb", oauth_signature="fg8HR3bBTtGwnCBCO96ekJ1O1Tc%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1356227780", oauth_token="<ACCESS_TOKEN_KEY>", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json
    body: 
      encoding: ASCII-8BIT
      string: "{\"format\":{\"_content\":\"json\"}, \"nojsoncallback\":{\"_content\":\"1\"}, \"api_key\":{\"_content\":\"<API_KEY>\"}, \"method\":{\"_content\":\"flickr.test.echo\"}, \"oauth_consumer_key\":{\"_content\":\"<API_KEY>\"}, \"oauth_nonce\":{\"_content\":\"c6d72ccc3c6289dc77ba1e918e1b32eb\"}, \"oauth_signature\":{\"_content\":\"fg8HR3bBTtGwnCBCO96ekJ1O1Tc=\"}, \"oauth_signature_method\":{\"_content\":\"HMAC-SHA1\"}, \"oauth_timestamp\":{\"_content\":\"1356227780\"}, \"oauth_token\":{\"_content\":\"<ACCESS_TOKEN_KEY>\"}, \"oauth_version\":{\"_content\":\"1.0\"}, \"api_auth_is_oauth\":{\"_content\":\"1\"}, \"api_sig\":{\"_content\":\"fg8HR3bBTtGwnCBCO96ekJ1O1Tc=\"}, \"auth_token\":{\"_content\":\"<ACCESS_TOKEN_KEY>\"}, \"stat\":\"ok\"}"
  recorded_at: Sun, 23 Dec 2012 01:56:21 GMT
recorded_with: VCR 2.3.0
