---
http_interactions:
- request:
    method: get
    uri: http://api.flickr.com/services/rest?format=json&nojsoncallback=1&api_key=<API_KEY>&method=flickr.photos.getWithoutGeoData&extras=
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<API_KEY>", oauth_nonce="5ef17f10e590db525eb01b3bf64b6365",
        oauth_signature="WXeFyqcaoYBgttGSgZN7Hy6Imuk%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1380987048", oauth_token="<ACCESS_TOKEN_KEY>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"photos":{"page":1, "pages":1, "perpage":100, "total":"1", "photo":[{"id":"8130464513",
        "owner":"78733179@N04", "secret":"780e01decd", "server":"8191", "farm":9,
        "title":"Photo", "ispublic":1, "isfriend":0, "isfamily":0}]}, "stat":"ok"}'
  recorded_at: Sat, 05 Oct 2013 15:30:48 GMT
- request:
    method: get
    uri: http://api.flickr.com/services/rest?format=json&nojsoncallback=1&api_key=<API_KEY>&method=flickr.photos.getWithoutGeoData&extras=description%2Clicense%2Cdate_upload%2Cdate_taken%2Cowner_name%2Cicon_server%2Coriginal_format%2Clast_update%2Cgeo%2Ctags%2Cmachine_tags%2Co_dims%2Cviews%2Cmedia%2Cpath_alias%2Curl_sq%2Curl_q%2Curl_t%2Curl_s%2Curl_n%2Curl_m%2Curl_z%2Curl_c%2Curl_l%2Curl_h%2Curl_k%2Curl_o
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<API_KEY>", oauth_nonce="e78a0922110eae9227611dceb9ae7d25",
        oauth_signature="Iqx6kIJe9urxUTzY2LjefCSlJZI%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1381068825", oauth_token="<ACCESS_TOKEN_KEY>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"photos":{"page":1, "pages":1, "perpage":100, "total":"1", "photo":[{"id":"10115956703",
        "owner":"78733179@N04", "secret":"b14e1be9d0", "server":"2822", "farm":3,
        "title":"Jon Snow", "ispublic":1, "isfriend":0, "isfamily":0, "description":{"_content":"It''s
        a photo"}, "license":"0", "dateupload":"1381061206", "datetaken":"2013-10-06
        14:06:41", "datetakengranularity":"0", "ownername":"@janko-m", "iconserver":"8033",
        "iconfarm":9, "originalsecret":"e40de5bf26", "originalformat":"jpg", "lastupdate":"1381068809",
        "latitude":0, "longitude":0, "accuracy":0, "context":0, "tags":"foo vision:night=077",
        "machine_tags":"", "views":"0", "media":"photo", "media_status":"ready", "pathalias":null,
        "url_sq":"http:\/\/farm3.staticflickr.com\/2822\/10115956703_b14e1be9d0_s.jpg",
        "height_sq":75, "width_sq":75, "url_q":"http:\/\/farm3.staticflickr.com\/2822\/10115956703_b14e1be9d0_q.jpg",
        "height_q":"150", "width_q":"150", "url_t":"http:\/\/farm3.staticflickr.com\/2822\/10115956703_b14e1be9d0_t.jpg",
        "height_t":"63", "width_t":"100", "url_s":"http:\/\/farm3.staticflickr.com\/2822\/10115956703_b14e1be9d0_m.jpg",
        "height_s":"150", "width_s":"240", "url_n":"http:\/\/farm3.staticflickr.com\/2822\/10115956703_b14e1be9d0_n.jpg",
        "height_n":200, "width_n":"320", "url_m":"http:\/\/farm3.staticflickr.com\/2822\/10115956703_b14e1be9d0.jpg",
        "height_m":"313", "width_m":"500", "url_z":"http:\/\/farm3.staticflickr.com\/2822\/10115956703_b14e1be9d0_z.jpg",
        "height_z":"400", "width_z":"640", "url_c":"http:\/\/farm3.staticflickr.com\/2822\/10115956703_b14e1be9d0_c.jpg",
        "height_c":500, "width_c":"800", "url_l":"http:\/\/farm3.staticflickr.com\/2822\/10115956703_b14e1be9d0_b.jpg",
        "height_l":"640", "width_l":"1024", "url_h":"http:\/\/farm3.staticflickr.com\/2822\/10115956703_253e5b1ab0_h.jpg",
        "height_h":1000, "width_h":"1600", "url_k":"http:\/\/farm3.staticflickr.com\/2822\/10115956703_67c9dd116f_k.jpg",
        "height_k":1280, "width_k":"2048", "url_o":"http:\/\/farm3.staticflickr.com\/2822\/10115956703_e40de5bf26_o.jpg",
        "height_o":"1600", "width_o":"2560"}]}, "stat":"ok"}'
  recorded_at: Sun, 06 Oct 2013 14:13:47 GMT
recorded_with: VCR 2.5.0
