---
http_interactions:
- request:
    method: get
    uri: http://api.flickr.com/services/rest?format=json&nojsoncallback=1&api_key=<API_KEY>&method=flickr.people.getInfo&user_id=78733179%40N04
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<API_KEY>", oauth_nonce="f65df87cfc88da5e95b4e4c3fd4a817f",
        oauth_signature="aHe%2BlDeQyTtdot7RbjQECHkg2No%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1380985800", oauth_token="<ACCESS_TOKEN_KEY>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"person":{"id":"78733179@N04", "nsid":"78733179@N04", "ispro":0, "iconserver":"8033",
        "iconfarm":9, "path_alias":null, "username":{"_content":"@janko-m"}, "realname":{"_content":"Janko
        Marohni\u0107"}, "mbox_sha1sum":{"_content":"3e20212c39d8bdf303e314bfb1749073cef17a09"},
        "location":{"_content":"Zagreb, Croatia"}, "timezone":{"label":"Sarajevo,
        Skopje, Warsaw, Zagreb", "offset":"+01:00"}, "description":{"_content":"I''m
        an enthusiastic programmer."}, "photosurl":{"_content":"http:\/\/www.flickr.com\/photos\/78733179@N04\/"},
        "profileurl":{"_content":"http:\/\/www.flickr.com\/people\/78733179@N04\/"},
        "mobileurl":{"_content":"http:\/\/m.flickr.com\/photostream.gne?id=78701040"},
        "photos":{"firstdatetaken":{"_content":"2012-10-28 11:32:03"}, "firstdate":{"_content":"2013"},
        "count":{"_content":2}, "views":{"_content":"4"}}}, "stat":"ok"}'
  recorded_at: Sat, 05 Oct 2013 15:10:00 GMT
recorded_with: VCR 2.5.0
