--- 
http_interactions: 
- request: 
    method: get
    uri: http://api.flickr.com/services/rest?format=json&nojsoncallback=1&api_key=API_KEY&method=flickr.test.login
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="API_KEY", oauth_nonce="ea3668409264bcf236fbd4bf4438f89f", oauth_signature="RUSbEzhBRFy9UGccbGChdVrPBuo%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1347744386", oauth_token="ACCESS_TOKEN", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json
    body: 
      encoding: ASCII-8BIT
      string: "{\"user\":{\"id\":\"78733179@N04\", \"username\":{\"_content\":\"@janko-m\"}}, \"stat\":\"ok\"}"
  recorded_at: Sat, 15 Sep 2012 21:26:27 GMT
- request: 
    method: get
    uri: http://api.flickr.com/services/rest?format=json&nojsoncallback=1&api_key=API_KEY&method=flickr.test.login
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="API_KEY", oauth_nonce="667d4a987b4c2db1499b17aa7b325cc9", oauth_signature="CG8NrSqYkvYMKnweGrxRejvEDxQ%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1347744387", oauth_version="1.0"
  response: 
    status: 
      code: 400
      message: 
    headers: 
      content-type: 
      - text/plain;charset=UTF-8
    body: 
      encoding: ASCII-8BIT
      string: oauth_problem=parameter_absent&oauth_parameters_absent=oauth_token
  recorded_at: Sat, 15 Sep 2012 21:26:27 GMT
recorded_with: VCR 2.2.4
