--- 
http_interactions: 
- request: 
    method: get
    uri: http://api.flickr.com/services/rest?format=json&nojsoncallback=1&api_key=API_KEY&method=flickr.test.login
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="API_KEY", oauth_nonce="9c850e0b90d730ed237b63a48396fa0b", oauth_signature="T9M4J%2BESNkrx9RhQ%2FS5h52XuNS0%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1347702121", oauth_token="ACCESS_TOKEN", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json
    body: 
      encoding: ASCII-8BIT
      string: "{\"user\":{\"id\":\"78733179@N04\", \"username\":{\"_content\":\"@janko-m\"}}, \"stat\":\"ok\"}"
  recorded_at: Sat, 15 Sep 2012 09:42:01 GMT
- request: 
    method: get
    uri: http://api.flickr.com/services/rest?format=json&nojsoncallback=1&api_key=API_KEY&method=flickr.test.login
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="API_KEY", oauth_nonce="7c21cae2e00820eaef70900d8a6359bc", oauth_signature="9IVXHv%2FMCOlfyt%2BK5donqaWpL9M%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1347702121", oauth_version="1.0"
  response: 
    status: 
      code: 400
      message: 
    headers: 
      content-type: 
      - text/plain;charset=UTF-8
    body: 
      encoding: ASCII-8BIT
      string: oauth_problem=parameter_absent&oauth_parameters_absent=oauth_token
  recorded_at: Sat, 15 Sep 2012 09:42:02 GMT
recorded_with: VCR 2.2.4
