--- 
http_interactions: 
- request: 
    method: get
    uri: http://api.flickr.com/services/rest?format=json&nojsoncallback=1&api_key=API_KEY&method=flickr.test.login
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="API_KEY", oauth_nonce="29b71d639a1de6f9dd507d95a5d794be", oauth_signature="oJFFqwZ0PVXVvUH4Q2aA7yCeptM%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1347224438", oauth_token="ACCESS_TOKEN", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json
    body: 
      encoding: ASCII-8BIT
      string: "{\"user\":{\"id\":\"67131352@N04\", \"username\":{\"_content\":\"Janko Marohni\\u0107\"}}, \"stat\":\"ok\"}"
  recorded_at: Sun, 09 Sep 2012 21:00:39 GMT
recorded_with: VCR 2.2.4
