--- 
http_interactions: 
- request: 
    method: get
    uri: http://api.flickr.com/services/rest?format=json&nojsoncallback=1&api_key&method=flickr.test.login
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_nonce="23fa97a2b6c0cc535197abd315b50e10", oauth_signature="ldO%2BWEkS5PorHgV7jUlGsHrDL54%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1356357975", oauth_token="<ACCESS_TOKEN_KEY>", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - text/plain; charset=utf-8
    body: 
      encoding: ASCII-8BIT
      string: "{\"stat\":\"fail\", \"code\":100, \"message\":\"Invalid API Key (Key has invalid format)\"}"
  recorded_at: Mon, 24 Dec 2012 14:06:15 GMT
recorded_with: VCR 2.3.0
