--- 
http_interactions: 
- request: 
    method: get
    uri: http://api.flickr.com/services/rest?format=json&nojsoncallback=1&api_key&method=flickr.test.login
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_nonce="83a186b7947bdacc5c86f6ff1e93b7a5", oauth_signature="B3jzJFMYSt%2BcGAcBMoZqjZ1D1L0%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1356267836", oauth_token="<ACCESS_TOKEN_KEY>", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - text/plain; charset=utf-8
    body: 
      encoding: ASCII-8BIT
      string: "{\"stat\":\"fail\", \"code\":100, \"message\":\"Invalid API Key (Key has invalid format)\"}"
  recorded_at: Sun, 23 Dec 2012 13:03:56 GMT
recorded_with: VCR 2.3.0
