--- 
http_interactions: 
- request: 
    method: get
    uri: http://api.flickr.com/services/rest?format=json&nojsoncallback=1&api_key=API_KEY&method=flickr.test.echo
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="API_KEY", oauth_nonce="5d58dc4722cdd6cef1808b64d48db39f", oauth_signature="F0PUQ6jtYBcryUT8H%2F7Nyy4ozKQ%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1347315366", oauth_token="ACCESS_TOKEN", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json
    body: 
      encoding: ASCII-8BIT
      string: "{\"format\":{\"_content\":\"json\"}, \"nojsoncallback\":{\"_content\":\"1\"}, \"api_key\":{\"_content\":\"API_KEY\"}, \"method\":{\"_content\":\"flickr.test.echo\"}, \"oauth_consumer_key\":{\"_content\":\"API_KEY\"}, \"oauth_nonce\":{\"_content\":\"5d58dc4722cdd6cef1808b64d48db39f\"}, \"oauth_signature\":{\"_content\":\"F0PUQ6jtYBcryUT8H\\/7Nyy4ozKQ=\"}, \"oauth_signature_method\":{\"_content\":\"HMAC-SHA1\"}, \"oauth_timestamp\":{\"_content\":\"1347315366\"}, \"oauth_token\":{\"_content\":\"ACCESS_TOKEN\"}, \"oauth_version\":{\"_content\":\"1.0\"}, \"api_auth_is_oauth\":{\"_content\":\"1\"}, \"api_sig\":{\"_content\":\"F0PUQ6jtYBcryUT8H\\/7Nyy4ozKQ=\"}, \"auth_token\":{\"_content\":\"ACCESS_TOKEN\"}, \"stat\":\"ok\"}"
  recorded_at: Mon, 10 Sep 2012 22:16:07 GMT
recorded_with: VCR 2.2.4
