--- 
http_interactions: 
- request: 
    method: get
    uri: http://api.flickr.com/services/rest?format=json&nojsoncallback=1&api_key=<API_KEY>&method=flickr.test.login
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="<API_KEY>", oauth_nonce="2619c14f20a99440bbf6fd9f65f82da6", oauth_signature="9Wa7uSf%2FOQPqMyB%2BMF7oPM57qrU%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1356358654", oauth_token="<ACCESS_TOKEN_KEY>", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json
    body: 
      encoding: ASCII-8BIT
      string: "{\"user\":{\"id\":\"78733179@N04\", \"username\":{\"_content\":\"@janko-m\"}}, \"stat\":\"ok\"}"
  recorded_at: Mon, 24 Dec 2012 14:17:35 GMT
recorded_with: VCR 2.3.0
