--- 
http_interactions: 
- request: 
    method: get
    uri: http://api.flickr.com/services/rest?format=json&nojsoncallback=1&api_key=API_KEY&method=flickr.photos.search&user_id=78733179%40N04&extras=description%2Clicense%2Cdate_upload%2Cdate_taken%2Cowner_name%2Cicon_server%2Coriginal_format%2Clast_update%2Cgeo%2Ctags%2Cmachine_tags%2Co_dims%2Cviews%2Cmedia%2Cpath_alias%2Curl_sq%2Curl_q%2Curl_t%2Curl_s%2Curl_n%2Curl_m%2Curl_z%2Curl_c%2Curl_l%2Curl_h%2Curl_k%2Curl_o
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="API_KEY", oauth_nonce="0c1aab413d6ba18b6522b7e8de838b85", oauth_signature="YC8SwclEKk7vt97sCt%2BblH%2BoRpo%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1347611570", oauth_token="ACCESS_TOKEN", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json
    body: 
      encoding: ASCII-8BIT
      string: "{\"photos\":{\"page\":1, \"pages\":1, \"perpage\":100, \"total\":\"1\", \"photo\":[{\"id\":\"7932536558\", \"owner\":\"78733179@N04\", \"secret\":\"510bb38607\", \"server\":\"8440\", \"farm\":9, \"title\":\"fractal-wallpaper-_-37\", \"ispublic\":1, \"isfriend\":0, \"isfamily\":0, \"description\":{\"_content\":\"\"}, \"license\":\"0\", \"dateupload\":\"1346792979\", \"datetaken\":\"2012-09-04 14:09:30\", \"datetakengranularity\":\"0\", \"ownername\":\"@janko-m\", \"iconserver\":\"0\", \"iconfarm\":0, \"lastupdate\":\"1347362824\", \"latitude\":0, \"longitude\":0, \"accuracy\":0, \"context\":0, \"tags\":\"test\", \"machine_tags\":\"\", \"views\":\"0\", \"media\":\"photo\", \"media_status\":\"ready\", \"pathalias\":null, \"url_sq\":\"http:\\/\\/farm9.staticflickr.com\\/8440\\/7932536558_510bb38607_s.jpg\", \"height_sq\":75, \"width_sq\":75, \"url_q\":\"http:\\/\\/farm9.staticflickr.com\\/8440\\/7932536558_510bb38607_q.jpg\", \"height_q\":\"150\", \"width_q\":\"150\", \"url_t\":\"http:\\/\\/farm9.staticflickr.com\\/8440\\/7932536558_510bb38607_t.jpg\", \"height_t\":\"75\", \"width_t\":\"100\", \"url_s\":\"http:\\/\\/farm9.staticflickr.com\\/8440\\/7932536558_510bb38607_m.jpg\", \"height_s\":\"180\", \"width_s\":\"240\", \"url_n\":\"http:\\/\\/farm9.staticflickr.com\\/8440\\/7932536558_510bb38607_n.jpg\", \"height_n\":240, \"width_n\":\"320\", \"url_m\":\"http:\\/\\/farm9.staticflickr.com\\/8440\\/7932536558_510bb38607.jpg\", \"height_m\":\"365\", \"width_m\":\"487\"}]}, \"stat\":\"ok\"}"
  recorded_at: Fri, 14 Sep 2012 08:32:51 GMT
recorded_with: VCR 2.2.4
