--- 
http_interactions: 
- request: 
    method: post
    uri: http://api.flickr.com/services/rest?format=json&nojsoncallback=1&api_key=API_KEY&method=flickr.photos.addTags&photo_id=7932536558&tags=Cool
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="API_KEY", oauth_nonce="f34d25d39b5d6df512e62d5627f1ff44", oauth_signature="WcuubzU%2FlIHXG3Vpjey30rfIkOI%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1347362139", oauth_token="ACCESS_TOKEN", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"stat\":\"ok\"}"
  recorded_at: Tue, 11 Sep 2012 11:15:39 GMT
- request: 
    method: get
    uri: http://api.flickr.com/services/rest?format=json&nojsoncallback=1&api_key=API_KEY&method=flickr.photos.getInfo&photo_id=7932536558
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="API_KEY", oauth_nonce="d79cbba53fe6eb67e831dec07a4e0a2a", oauth_signature="WPGFmtiGYYopPbhyNlF7OX735K0%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1347362139", oauth_token="ACCESS_TOKEN", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json
    body: 
      encoding: ASCII-8BIT
      string: "{\"photo\":{\"id\":\"7932536558\", \"secret\":\"510bb38607\", \"server\":\"8440\", \"farm\":9, \"dateuploaded\":\"1346792979\", \"isfavorite\":0, \"license\":\"0\", \"safety_level\":\"0\", \"rotation\":0, \"owner\":{\"nsid\":\"78733179@N04\", \"username\":\"@janko-m\", \"realname\":\"\", \"location\":\"\", \"iconserver\":\"0\", \"iconfarm\":0}, \"title\":{\"_content\":\"fractal-wallpaper-_-37\"}, \"description\":{\"_content\":\"\"}, \"visibility\":{\"ispublic\":1, \"isfriend\":0, \"isfamily\":0}, \"dates\":{\"posted\":\"1346792979\", \"taken\":\"2012-09-04 14:09:30\", \"takengranularity\":\"0\", \"lastupdate\":\"1347362139\"}, \"permissions\":{\"permcomment\":3, \"permaddmeta\":2}, \"views\":\"0\", \"editability\":{\"cancomment\":1, \"canaddmeta\":1}, \"publiceditability\":{\"cancomment\":1, \"canaddmeta\":0}, \"usage\":{\"candownload\":1, \"canblog\":1, \"canprint\":1, \"canshare\":1}, \"comments\":{\"_content\":\"0\"}, \"notes\":{\"note\":[{\"id\":\"72157631503969058\", \"author\":\"78733179@N04\", \"authorname\":\"@janko-m\", \"x\":\"20\", \"y\":\"20\", \"w\":\"40\", \"h\":\"40\", \"_content\":\"Test\"}]}, \"people\":{\"haspeople\":0}, \"tags\":{\"tag\":[{\"id\":\"78701040-7932536558-320\", \"author\":\"78733179@N04\", \"raw\":\"Test\", \"_content\":\"test\", \"machine_tag\":0}, {\"id\":\"78701040-7932536558-2709\", \"author\":\"78733179@N04\", \"raw\":\"Cool\", \"_content\":\"cool\", \"machine_tag\":0}]}, \"urls\":{\"url\":[{\"type\":\"photopage\", \"_content\":\"http:\\/\\/www.flickr.com\\/photos\\/78733179@N04\\/7932536558\\/\"}]}, \"media\":\"photo\"}, \"stat\":\"ok\"}"
  recorded_at: Tue, 11 Sep 2012 11:15:40 GMT
- request: 
    method: post
    uri: http://api.flickr.com/services/rest?format=json&nojsoncallback=1&api_key=API_KEY&method=flickr.photos.removeTag&photo_id=7932536558&tag_id=78701040-7932536558-2709
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="API_KEY", oauth_nonce="c73eff2f8508d2d1b24a3beab3a11c6a", oauth_signature="C29DG4bpQiP37BV4E01A9K7ZSts%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1347362140", oauth_token="ACCESS_TOKEN", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"stat\":\"ok\"}"
  recorded_at: Tue, 11 Sep 2012 11:15:40 GMT
[...]
- request: 
    method: post
    uri: http://api.flickr.com/services/rest?format=json&nojsoncallback=1&api_key=API_KEY&method=flickr.photos.addTags
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="API_KEY", oauth_nonce="0b77b2f978805ea68e7fc38cac97a7e9", oauth_signature="oR38iHqgiXM9Av%2F5RwnMzb5wRzI%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1347575689", oauth_token="ACCESS_TOKEN", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - text/plain; charset=utf-8
    body: 
      encoding: US-ASCII
      string: "{\"stat\":\"fail\", \"code\":1, \"message\":\"Photo not found\"}"
  recorded_at: Thu, 13 Sep 2012 22:34:50 GMT
recorded_with: VCR 2.2.4
