--- 
http_interactions: 
- request: 
    method: post
    uri: http://api.flickr.com/services/rest?format=json&nojsoncallback=1&api_key=<API_KEY>&method=flickr.photos.setTags&photo_id=7986395865&tags=Foo+Bar
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="<API_KEY>", oauth_nonce="c999257ff442aa1fa20e469ff8148caa", oauth_signature="jQUpg0xm3rUX7i1%2BWV05M3MWOd0%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1356357986", oauth_token="<ACCESS_TOKEN_KEY>", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"stat\":\"ok\"}"
  recorded_at: Mon, 24 Dec 2012 14:06:26 GMT
- request: 
    method: get
    uri: http://api.flickr.com/services/rest?format=json&nojsoncallback=1&api_key=<API_KEY>&method=flickr.people.getPhotos&extras=description%2Clicense%2Cdate_upload%2Cdate_taken%2Cowner_name%2Cicon_server%2Coriginal_format%2Clast_update%2Cgeo%2Ctags%2Cmachine_tags%2Co_dims%2Cviews%2Cmedia%2Cpath_alias%2Curl_sq%2Curl_q%2Curl_t%2Curl_s%2Curl_n%2Curl_m%2Curl_z%2Curl_c%2Curl_l%2Curl_h%2Curl_k%2Curl_o&user_id=78733179%40N04
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="<API_KEY>", oauth_nonce="aef1ef5e944bb4433f220df07fde6c5a", oauth_signature="lmtLTiIhcEAYgIKPQAN%2FmWWCjMQ%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1356357986", oauth_token="<ACCESS_TOKEN_KEY>", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json
    body: 
      encoding: ASCII-8BIT
      string: "{\"photos\":{\"page\":1, \"pages\":1, \"perpage\":100, \"total\":\"2\", \"photo\":[{\"id\":\"8130464513\", \"owner\":\"78733179@N04\", \"secret\":\"780e01decd\", \"server\":\"8191\", \"farm\":9, \"title\":\"Hana\", \"ispublic\":1, \"isfriend\":0, \"isfamily\":0, \"description\":{\"_content\":\"In waldorf camp.\"}, \"license\":\"0\", \"dateupload\":\"1351420350\", \"datetaken\":\"2012-10-28 11:32:03\", \"datetakengranularity\":\"0\", \"ownername\":\"@janko-m\", \"iconserver\":\"8033\", \"iconfarm\":9, \"lastupdate\":\"1352241219\", \"latitude\":0, \"longitude\":0, \"accuracy\":0, \"context\":0, \"tags\":\"\", \"machine_tags\":\"\", \"views\":\"0\", \"media\":\"photo\", \"media_status\":\"ready\", \"pathalias\":null, \"url_sq\":\"http:\\/\\/farm9.staticflickr.com\\/8191\\/8130464513_780e01decd_s.jpg\", \"height_sq\":75, \"width_sq\":75, \"url_q\":\"http:\\/\\/farm9.staticflickr.com\\/8191\\/8130464513_780e01decd_q.jpg\", \"height_q\":\"150\", \"width_q\":\"150\", \"url_t\":\"http:\\/\\/farm9.staticflickr.com\\/8191\\/8130464513_780e01decd_t.jpg\", \"height_t\":\"75\", \"width_t\":\"100\", \"url_s\":\"http:\\/\\/farm9.staticflickr.com\\/8191\\/8130464513_780e01decd_m.jpg\", \"height_s\":\"180\", \"width_s\":\"240\", \"url_n\":\"http:\\/\\/farm9.staticflickr.com\\/8191\\/8130464513_780e01decd_n.jpg\", \"height_n\":240, \"width_n\":\"320\", \"url_m\":\"http:\\/\\/farm9.staticflickr.com\\/8191\\/8130464513_780e01decd.jpg\", \"height_m\":\"375\", \"width_m\":\"500\", \"url_z\":\"http:\\/\\/farm9.staticflickr.com\\/8191\\/8130464513_780e01decd_z.jpg\", \"height_z\":\"480\", \"width_z\":\"640\", \"url_c\":\"http:\\/\\/farm9.staticflickr.com\\/8191\\/8130464513_780e01decd_c.jpg\", \"height_c\":600, \"width_c\":\"800\", \"url_l\":\"http:\\/\\/farm9.staticflickr.com\\/8191\\/8130464513_780e01decd_b.jpg\", \"height_l\":\"600\", \"width_l\":\"800\"}, {\"id\":\"7986395865\", \"owner\":\"78733179@N04\", \"secret\":\"5f670c825b\", \"server\":\"8306\", \"farm\":9, \"title\":\"Game of Thrones\", \"ispublic\":1, \"isfriend\":0, \"isfamily\":0, \"description\":{\"_content\":\"A poster for the &quot;Game of Thrones&quot; TV series\"}, \"license\":\"0\", \"dateupload\":\"1347653033\", \"datetaken\":\"2012-09-14 13:02:57\", \"datetakengranularity\":\"0\", \"ownername\":\"@janko-m\", \"iconserver\":\"8033\", \"iconfarm\":9, \"lastupdate\":\"1356357986\", \"latitude\":37.792422, \"longitude\":-122.419109, \"accuracy\":\"14\", \"context\":0, \"place_id\":\"W24McYBUV7MWarg33w\", \"woeid\":\"55970967\", \"geo_is_family\":0, \"geo_is_friend\":0, \"geo_is_contact\":0, \"geo_is_public\":1, \"tags\":\"bar foo\", \"machine_tags\":\"\", \"views\":\"38\", \"media\":\"photo\", \"media_status\":\"ready\", \"pathalias\":null, \"url_sq\":\"http:\\/\\/farm9.staticflickr.com\\/8306\\/7986395865_5f670c825b_s.jpg\", \"height_sq\":75, \"width_sq\":75, \"url_q\":\"http:\\/\\/farm9.staticflickr.com\\/8306\\/7986395865_5f670c825b_q.jpg\", \"height_q\":\"150\", \"width_q\":\"150\", \"url_t\":\"http:\\/\\/farm9.staticflickr.com\\/8306\\/7986395865_5f670c825b_t.jpg\", \"height_t\":\"100\", \"width_t\":\"67\", \"url_s\":\"http:\\/\\/farm9.staticflickr.com\\/8306\\/7986395865_5f670c825b_m.jpg\", \"height_s\":\"240\", \"width_s\":\"162\", \"url_n\":\"http:\\/\\/farm9.staticflickr.com\\/8306\\/7986395865_5f670c825b_n.jpg\", \"height_n\":\"320\", \"width_n\":216, \"url_m\":\"http:\\/\\/farm9.staticflickr.com\\/8306\\/7986395865_5f670c825b.jpg\", \"height_m\":\"500\", \"width_m\":\"337\", \"url_z\":\"http:\\/\\/farm9.staticflickr.com\\/8306\\/7986395865_5f670c825b_z.jpg\", \"height_z\":\"640\", \"width_z\":\"432\", \"url_c\":\"http:\\/\\/farm9.staticflickr.com\\/8306\\/7986395865_5f670c825b_c.jpg\", \"height_c\":\"800\", \"width_c\":540, \"url_l\":\"http:\\/\\/farm9.staticflickr.com\\/8306\\/7986395865_5f670c825b_b.jpg\", \"height_l\":\"1024\", \"width_l\":\"691\", \"url_h\":\"http:\\/\\/farm9.staticflickr.com\\/8306\\/7986395865_e325aa9882_h.jpg\", \"height_h\":\"1600\", \"width_h\":1080, \"url_k\":\"http:\\/\\/farm9.staticflickr.com\\/8306\\/7986395865_081e5978f7_k.jpg\", \"height_k\":\"2048\", \"width_k\":1382}]}, \"stat\":\"ok\"}"
  recorded_at: Mon, 24 Dec 2012 14:06:27 GMT
recorded_with: VCR 2.3.0
