--- 
http_interactions: 
- request: 
    method: post
    uri: http://api.flickr.com/services/rest?format=json&nojsoncallback=1&api_key=API_KEY&method=flickr.photos.addTags&photo_id=7986395865&tags=Cool
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="API_KEY", oauth_nonce="3040d0d5e3f2581c2db8410b5cdc0d21", oauth_signature="2tQ9CAsxg6xmc4%2FNISSVuBPpt7Y%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1347744389", oauth_token="ACCESS_TOKEN", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"stat\":\"ok\"}"
  recorded_at: Sat, 15 Sep 2012 21:26:29 GMT
- request: 
    method: get
    uri: http://api.flickr.com/services/rest?format=json&nojsoncallback=1&api_key=API_KEY&method=flickr.photos.getInfo&photo_id=7986395865
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="API_KEY", oauth_nonce="a34aec5bc29c1480d0207787d4be62f6", oauth_signature="diStovawO914LqTDSnkKYJuqQZM%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1347744389", oauth_token="ACCESS_TOKEN", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json
    body: 
      encoding: ASCII-8BIT
      string: "{\"photo\":{\"id\":\"7986395865\", \"secret\":\"5f670c825b\", \"server\":\"8306\", \"farm\":9, \"dateuploaded\":\"1347653033\", \"isfavorite\":0, \"license\":\"0\", \"safety_level\":\"0\", \"rotation\":0, \"owner\":{\"nsid\":\"78733179@N04\", \"username\":\"@janko-m\", \"realname\":\"Janko Marohni\\u0107\", \"location\":\"Zagreb, Croatia\", \"iconserver\":\"8033\", \"iconfarm\":9}, \"title\":{\"_content\":\"Game of Thrones\"}, \"description\":{\"_content\":\"A poster for the &quot;Game of Thrones&quot; TV series\"}, \"visibility\":{\"ispublic\":1, \"isfriend\":0, \"isfamily\":0}, \"dates\":{\"posted\":\"1347653033\", \"taken\":\"2012-09-14 13:02:57\", \"takengranularity\":\"0\", \"lastupdate\":\"1347744389\"}, \"permissions\":{\"permcomment\":3, \"permaddmeta\":2}, \"views\":\"4\", \"editability\":{\"cancomment\":1, \"canaddmeta\":1}, \"publiceditability\":{\"cancomment\":1, \"canaddmeta\":0}, \"usage\":{\"candownload\":1, \"canblog\":1, \"canprint\":1, \"canshare\":1}, \"comments\":{\"_content\":\"1\"}, \"notes\":{\"note\":[{\"id\":\"72157631536525795\", \"author\":\"78733179@N04\", \"authorname\":\"@janko-m\", \"x\":\"16\", \"y\":\"16\", \"w\":\"31\", \"h\":\"31\", \"_content\":\"Test\"}]}, \"people\":{\"haspeople\":0}, \"tags\":{\"tag\":[{\"id\":\"78701040-7986395865-320\", \"author\":\"78733179@N04\", \"raw\":\"Test\", \"_content\":\"test\", \"machine_tag\":0}, {\"id\":\"78701040-7986395865-2709\", \"author\":\"78733179@N04\", \"raw\":\"Cool\", \"_content\":\"cool\", \"machine_tag\":0}]}, \"location\":{\"latitude\":37.792422, \"longitude\":-122.419109, \"accuracy\":\"14\", \"context\":\"0\", \"neighbourhood\":{\"_content\":\"Polk Gulch\", \"place_id\":\"W24McYBUV7MWarg33w\", \"woeid\":\"55970967\"}, \"locality\":{\"_content\":\"San Francisco\", \"place_id\":\"7.MJR8tTVrIO1EgB\", \"woeid\":\"2487956\"}, \"county\":{\"_content\":\"San Francisco\", \"place_id\":\".7sOmlRQUL9nK.kMzA\", \"woeid\":\"12587707\"}, \"region\":{\"_content\":\"California\", \"place_id\":\"NsbUWfBTUb4mbyVu\", \"woeid\":\"2347563\"}, \"country\":{\"_content\":\"United States\", \"place_id\":\"nz.gsghTUb4c2WAecA\", \"woeid\":\"23424977\"}, \"place_id\":\"W24McYBUV7MWarg33w\", \"woeid\":\"55970967\"}, \"geoperms\":{\"ispublic\":1, \"iscontact\":0, \"isfriend\":0, \"isfamily\":0}, \"urls\":{\"url\":[{\"type\":\"photopage\", \"_content\":\"http:\\/\\/www.flickr.com\\/photos\\/78733179@N04\\/7986395865\\/\"}]}, \"media\":\"photo\"}, \"stat\":\"ok\"}"
  recorded_at: Sat, 15 Sep 2012 21:26:30 GMT
- request: 
    method: post
    uri: http://api.flickr.com/services/rest?format=json&nojsoncallback=1&api_key=API_KEY&method=flickr.photos.removeTag&photo_id=7986395865&tag_id=78701040-7986395865-2709
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="API_KEY", oauth_nonce="663e1459c96c1a896574a431d859118b", oauth_signature="mqmRGdwxktEGbMAlRg%2FIdDuaqtw%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1347744390", oauth_token="ACCESS_TOKEN", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"stat\":\"ok\"}"
  recorded_at: Sat, 15 Sep 2012 21:26:30 GMT
recorded_with: VCR 2.2.4
